In [1]:
import pandas as pd
from pandas import DataFrame

import io
import networkx as nx
#from google.colab import files

import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
#from sympy import deg
%matplotlib inline
%pip install sklearn
%pip install -U scikit-learn
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as pl

Requirement already satisfied: sklearn in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (0.0.post1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.9.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df1 = pd.read_csv("EdgesDirty.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_29452\1725305810.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("EdgesDirty.csv")

In [7]:
df100 = df1

In [8]:
for (i, row) in df100.iterrows():
    # df1.at[i,'Age1'] = df1.at[i,'Season'][:4]
    firstSes = int(df1.at[i, 'Season'][:4])
    # df1000.at[i, 'Age1'] = firstSes - int(df1000.at[i, 'Born1'])
    # df1000.at[i, 'Age2'] = firstSes - int(df1000.at[i, 'Born2'])
    if(df100.at[i, 'Born1'] == "na Na"):
        print(df100.at[i, 'Name1'])
        df100.at[i, 'Born1'] = 1990
    if(df100.at[i, 'Born2'] == "na Na"):
        print(df100.at[i, 'Name2'])
        df100.at[i, 'Born2'] = 1990

    df100.at[i, 'Age1'] = firstSes- int(df100.at[i, 'Born1'])
    df100.at[i, 'Age2'] = firstSes- int(df100.at[i, 'Born2'])

Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu
Ionut-Andrei-Radu

In [9]:
df100['LeagueRank'] = df100['LeagueRank'].fillna('20th')
df100['LeagueRank'] = df1['LeagueRank'].map(lambda x: str(x)[:-2])
# df100['LeagueRank'] = df100['LeagueRank'].astype(int)
type(df100['LeagueRank'][0])
df100

,Name1,Name2,Season,Squad,League,LeagueRank,LeagueCountry,Nation1,Nation2,Born1,Born2,MP1,MP2,Goals1,Goals2,Node1,Node2,Age1,Age2
0,Sergio-Abad-Beyxer,Sergio-Ballesteros,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,1975,1,35,0.0,1.0,30f729b3,29863c56,21.0,35.0
1,Sergio-Abad-Beyxer,David-Cerrajeria,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,1983,1,9,0.0,0.0,30f729b3,2ebb9df6,21.0,27.0
2,Sergio-Abad-Beyxer,Rafa-Jorda,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,1984,1,17,0.0,2.0,30f729b3,05e805eb,21.0,26.0
3,Sergio-Abad-Beyxer,Gorka-Larrea,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,1984,1,6,0.0,0.0,30f729b3,242e09b6,21.0,26.0
4,Sergio-Abad-Beyxer,Cristhian-Stuani,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Uruguay,1989,1986,1,30,0.0,8.0,30f729b3,220c11f1,21.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901966,Michael-Zetterer,Ilia-Gruev,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Bulgaria,1995,2000,1,8,0.0,0.0,9b688ae1,1fc4f3d1,27.0,22.0
901967,Michael-Zetterer,Amos-Pieper,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Germany,1995,1998,1,8,0.0,0.0,9b688ae1,526ea7cc,27.0,24.0
901968,Michael-Zetterer,Romano-Schmid,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Austria,1995,2000,1,8,0.0,0.0,9b688ae1,220ace7e,27.0,22.0
901969,Michael-Zetterer,Lee-Buchanan,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,England,1995,2001,1,7,0.0,1.0,9b688ae1,45e95f21,27.0,21.0
901970,Michael-Zetterer,Jens-Stage,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Denmark,1995,1996,1,8,0.0,0.0,9b688ae1,1fffae99,27.0,26.0

In [10]:
df1

#Use this df, create soem flags or assign some sort of data like in the anti money laundering paper to our edges/nodes. From this use a decision tree to predict this field.
#Or another field using this created filed, nation, squad, league rank, etc...
#Could tell us how random connections are in our network and how predicitable the football network is

leauges = df1["League"]
nations = df1["Nation1"].tolist()
nations2 = df1["Nation2"].tolist()
seasy = df1["Season"]
club = df1["Squad"]

natty = nations + nations2

clubUnique = club.unique()
leaugesUnique = leauges.unique()
seasonUnqique = seasy.unique()
nationsUnique = set(natty)


leauges = pd.DataFrame(leaugesUnique)
natty = pd.DataFrame(nationsUnique)
seasy = pd.DataFrame(seasonUnqique)
club = pd.DataFrame(clubUnique)

leauges.rename(columns={0 : 'League'}, inplace=True)
natty.rename(columns={0 : 'Country'}, inplace=True)
seasy.rename(columns={0 : 'Season'}, inplace=True)
club.rename(columns={0 : 'Squad'}, inplace = True)

for (i, row) in leauges.iterrows():
    leauges.at[i,'MapValue'] = int(i)
for (i, row) in natty.iterrows():
    natty.at[i, 'MapValue'] = int (i)
for (i, row) in seasy.iterrows():
    seasy.at[i, 'MapValue'] = int (i)
for (i, row) in club.iterrows():
    club.at[i, 'MapValue'] = int (i)
club

                    Squad  MapValue
0                 Levante       0.0
1                Piacenza       1.0
2                  Modena       2.0
3                  Empoli       3.0
4                  Torino       4.0
...                   ...       ...
1250         Freiburg U17    1250.0
1251             Juventud    1251.0
1252  Manchester City U21    1252.0
1253               Renofa    1253.0
1254           Luverdense    1254.0

[1255 rows x 2 columns]

In [11]:
d = pd.Series(seasy.MapValue.values,index=seasy.Season).to_dict()
d1 = pd.Series(natty.MapValue.values, index=natty.Country).to_dict()
d2 = pd.Series(leauges.MapValue.values, index=leauges.League).to_dict()
d3 = pd.Series(club.MapValue.values, index=club.Squad).to_dict()

df100['SeasonNum'] = df100['Season'].map(d)
df100['CountryNum1'] = df100['Nation1'].map(d1)
df100['CountryNum2'] = df100['Nation2'].map(d1)
df100['LeagueNum'] = df100['League'].map(d2)
df100["SquadNum"] = df100['Squad'].map(d3)

In [12]:
count_nan = df100['LeagueRank'].isnull().sum()
 
# printing the number of values present
# in the column
print('Number of NaN values present: ' + str(count_nan))

df100.loc[df100['Name1'] == "Ionut-Andrei-Radu"]

Number of NaN values present: 0

,Name1,Name2,Season,Squad,League,LeagueRank,LeagueCountry,Nation1,Nation2,Born1,...,Goals2,Node1,Node2,Age1,Age2,SeasonNum,CountryNum1,CountryNum2,LeagueNum,SquadNum
603285,Ionut-Andrei-Radu,Marco-Andreolli,2015-2016,Inter,1. Serie A,4,it ITA,Romania,Italy,1990,...,0.0,29d80748,13d820de,25.0,29.0,10.0,113.0,15.0,2.0,72.0
603286,Ionut-Andrei-Radu,Adem-Ljajic,2015-2016,Inter,1. Serie A,4,it ITA,Romania,Serbia,1990,...,3.0,29d80748,2648e18f,25.0,24.0,10.0,113.0,139.0,2.0,72.0
603287,Ionut-Andrei-Radu,Juan-Pablo-Carrizo,2015-2016,Inter,1. Serie A,4,it ITA,Romania,Argentina,1990,...,0.0,29d80748,04e6e152,25.0,31.0,10.0,113.0,32.0,2.0,72.0
603288,Ionut-Andrei-Radu,Bright-Gyamfi,2015-2016,Inter,1. Serie A,4,it ITA,Romania,Ghana,1990,...,0.0,29d80748,251d982a,25.0,19.0,10.0,113.0,87.0,2.0,72.0

In [13]:
df100[df100['LeagueRank'] == ''] = 20

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


#0.99
# features = ['LeagueRank','Age1', 'Age2', 'SeasonNum', 'CountryNum1', 'CountryNum2', 'LeagueNum']


#0.88
#features = ['LeagueRank','Age1', 'Age2', 'SeasonNum', 'CountryNum1', 'CountryNum2']

#0.77
#features = ['LeagueRank','Age1', 'Age2', 'LeagueNum', 'CountryNum1', 'CountryNum2', 'Goals1', 'Goals2']

#0.31
#features = ['Age1', 'Age2','CountryNum1', 'CountryNum2', 'Goals1', 'Goals2']

#0.60
#features = ['Age1', 'Age2','CountryNum1', 'CountryNum2', 'Goals1', 'Goals2', 'LeagueRank']

#DTree: 0.56
#Bush: 0.49 for 5
#Individual stats, not team stats
features = ['Age1', 'Age2','CountryNum1', 'CountryNum2', 'Goals1', 'Goals2', 'SeasonNum']



#0.66
#features = ['LeagueRank','Age1', 'Age2', 'LeagueNum', 'CountryNum1', 'CountryNum2']


#0.47
# features = ['LeagueRank','Age1', 'Age2', 'CountryNum1', 'CountryNum2']

#0.18
#features = ['Age1', 'Age2', 'CountryNum1', 'CountryNum2']

#0.19
# features = ['LeagueRank', 'SeasonNum']


#0.55
# features = ['Age1', 'Age2', 'SeasonNum', 'CountryNum1', 'CountryNum2', 'LeagueNum']


#0.4
# features = ['Age1', 'Age2', 'SeasonNum', 'CountryNum1', 'CountryNum2']


X = df100[features]
y = df100['SquadNum']

# print(X)
# print(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# dtree = DecisionTreeClassifier()

dtree = RandomForestClassifier(n_estimators=5)

dtree = dtree.fit(X_train, y_train)

In [ ]:
y_pred = dtree.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score
dfPreds = df100

d3_inv = {v: k for k, v in d3.items()}
d1_inv = {v: k for k, v in d1.items()}

 
yp = pd.DataFrame(y_pred)
X_test['labels'] = y_pred
X_test['Actual'] = y_test
# # X_test = X_test.astype({'Actual':'int'})
# # X_test = X_test.astype({'labels':'int'})
# print(X_test.dtypes)
X_test['Actual'] = X_test['Actual'].map(d3_inv)
X_test['labels'] = X_test['labels'].map(d3_inv)
X_test['Country1'] = X_test['CountryNum1'].map(d1_inv)
X_test['Country2'] = X_test['CountryNum2'].map(d1_inv)
X_test[X_test['labels'] == X_test['Actual']]

print(accuracy_score(X_test['Actual'], X_test['labels']))
X_test[X_test['labels'] != X_test['Actual']]

In [ ]:
predsResultsClubs = X_test[X_test['labels'] != X_test['Actual']].groupby(['labels', 'Actual']).agg({
                                                # 'LeagueRank' : lambda x: list(x),
                                                'Country1' : lambda x : list(x),
                                                'Country2' : lambda x : list(x),
                                                'Age1' : 'count'
                                                }).reset_index()

predsResultsNations = X_test[X_test['labels'] != X_test['Actual']].groupby(['Country1', 'Country2']).agg({
                                                # 'LeagueRank' : lambda x: list(x),
                                                'labels' : lambda x : list(x),
                                                'Actual' : lambda x : list(x),
                                                'Age1' : 'count'
                                                }).reset_index()

# country1 = [0] * 60420
# country2 = [0] * 60420
# q = 0
# l = 0
# for (i, row) in predsResults.iterrows():
#     for j in predsResults.at[i, 'CountryNum1']:
#         # print(j)
#         # country1[q] = j
#         country1[q] = d1_inv[j]
#         q+=1
#     # predsResults.at[i, 'CountryNum1Copy'] = country1
#     for k in predsResults.at[i, 'CountryNum2']:
#         # print(j)
#         # country1[q] = j
#         country1[l] = d1_inv[k]
#         l+=1
#     # predsResults.at[i, 'CountryNum2Copy'] = country2

predsResultsClubs.sort_values(by='Age1', ascending=False)[20:]

In [12]:
# nodes = pd.read_csv(io.BytesIO(uploaded2['playerNodesData.csv']))
nodes  = pd.read_csv("playerNodesData.csv")
nodes

,ID,Name,CountryFixed,DOB,Season,Squad,Comp,LgRank,MP,Gls
0,0000acda,Marco-Benassi,Italy,1994,11,6,1,"['9th', '20th', '9th', '12th', '9th', '8th', '...",216,26.0
1,000b3da6,Manuel-Iturra,Chile,1984,10,9,6,"['10th', '18th', '6th', '15th', '17th', '17th'...",234,2.0
2,001a63e0,Ozkan-Yildirim,Germany,1993,7,4,3,"['18th', '14th', '12th', '10th', '13th', '17th...",58,4.0
3,00242715,Moussa-Niakhate,France,1996,9,4,4,"['16th', '12th', '13th', '20th', '12th', '13th...",237,10.0
4,00242b75,Leandro-Barreiro-Martins,Luxembourg,2000,7,3,3,"['10th', '10th', '16th', '9th', '12th', '13th'...",150,14.0
...,...,...,...,...,...,...,...,...,...,...
9695,ffd69308,Javi-Alamo,Spain,1988,8,6,2,"['17th', '20th', '14th', '6th', '4th', '19th',...",141,8.0
9696,ffec9769,Islam-Slimani,Algeria,1988,10,7,5,"['2nd', '3rd', '2nd', '3rd', '12th', '9th', '1...",203,75.0
9697,ffed43e3,Jack-Hendry,Scotland,1995,9,10,6,"['8th', '9th', '20th', '1st', '23rd', '12th', ...",112,3.0
9698,fff10a46,Danny-Guthrie,England,1987,13,8,3,"['6th', '3rd', '16th', '18th', '1st', '12th', ...",277,14.0
9699,fffea3e5,Jeremy-Doku,Belgium,2002,5,2,2,"['6th', '8th', '4th', '6th', '4th', '6th']",84,8.0

In [15]:
nodesCopy = nodes
nameDict = pd.Series(nodesCopy.Name.values, index=nodesCopy.ID).to_dict()

In [10]:
# edgesDf = pd.read_csv(io.BytesIO(uploaded4['edgesDataComp.csv']))
edgesDf = pd.read_csv("edgesDataComp.csv")
edgesDf

C:\Users\User\AppData\Local\Temp\ipykernel_30012\3980656479.py:2: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  edgesDf = pd.read_csv("edgesDataComp.csv")

,Source,Target,Season,Name1,Name2,Squad,League,LeagueRank,Nation1,Nation2,Born1,Born2,MP1,MP2,Goals1,Goals2,seasonsPlayed
0,00242b75,00242715,"['2018-2019', '2019-2020', '2020-2021', '2021-...",Leandro-Barreiro-Martins,Moussa-Niakhate,"['Mainz 05', 'Mainz 05', 'Mainz 05', 'Mainz 05']","['1. Bundesliga', '1. Bundesliga', '1. Bundesl...","['12th', '13th', '12th', '8th']",Luxembourg,France,2000,1996,79,128,3.0,9.0,4
1,00459419,001a63e0,"['2012-2013', '2013-2014']",Marko-Arnautovic,Ozkan-Yildirim,"['Werder Bremen', 'Werder Bremen']","['1. Bundesliga', '1. Bundesliga']","['14th', '12th']",Austria,Germany,1989,1993,28,18,5.0,0.0,2
2,005c0807,0033fb1b,"['2020-2021', '2021-2022']",Zinedine-Ferhat,Niclas-Eliasson,"['Nîmes', 'Nîmes']","['1. Ligue 1', '2. Ligue 2']","['19th', '9th']",Algeria,Sweden,1993,1995,47,66,6.0,11.0,2
3,007b39a5,001a63e0,['2017-2018'],Onel-Hernandez,Ozkan-Yildirim,['Braunschweig'],['2. 2. Bundesliga'],['17th'],Cuba,Germany,1993,1993,17,17,1.0,1.0,1
4,00891164,007faf7a,['2021-2022'],Cedric-Hountondji,Lucas-Da-Cunha,['Clermont Foot'],['1. Ligue 1'],['17th'],Benin,France,1994,2001,23,15,1.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560411,fffea3e5,f6d7d690,['2020-2021'],Jeremy-Doku,Josh-Cullen,['Anderlecht'],['1. First Division A'],['4th'],Belgium,Ireland,2002,1996,7,21,2.0,0.0,1
560412,fffea3e5,f6ddac8f,['2018-2019'],Jeremy-Doku,Ivan-Obradovic,['Anderlecht'],['1. First Division A'],['6th'],Belgium,Serbia,2002,1988,6,10,0.0,0.0,1
560413,fffea3e5,f99b71de,"['2018-2019', '2019-2020', '2020-2021']",Jeremy-Doku,Edo-Kayembe,"['Anderlecht', 'Anderlecht', 'Anderlecht']","['1. First Division A', '1. First Division A',...","['6th', '8th', '4th']",Belgium,Democratic Republic of the Congo,2002,1998,34,32,5.0,0.0,3
560414,fffea3e5,fc46aab1,"['2021-2022', '2022-2023']",Jeremy-Doku,Lovro-Majer,"['Rennes', 'Rennes']","['1. Ligue 1', '1. Ligue 1']","['4th', '6th']",Belgium,Croatia,2002,1998,20,37,1.0,6.0,2
560415,fffea3e5,feb5d3ab,['2018-2019'],Jeremy-Doku,Dennis-Appiah,['Anderlecht'],['1. First Division A'],['6th'],Belgium,France,2002,1992,6,19,0.0,0.0,1

In [2]:
edgey = pd.read_csv('EdgesDirty.csv')
edgey['LeagueCountry'] = edgey['LeagueCountry'].str.split(' ').str[1]
edgey["Comp"] = edgey["League"] + [" "] + edgey["LeagueCountry"]

C:\Users\User\AppData\Local\Temp\ipykernel_30012\611495236.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  edgey = pd.read_csv('EdgesDirty.csv')

In [3]:
edges = edgey.groupby(['Node1', 'Node2']).agg({
                                                'Season':lambda x: list(x),
                                                'Name1': 'first',
                                                'Name2': 'first',
                                                'Squad': lambda x: list(x),
                                                'Comp': lambda x: list(x),
                                                'LeagueRank' : lambda x: list(x),
                                                'Nation1': 'first',
                                                'Nation2': 'first',
                                                'Born1' : 'first',
                                                'Born2' : 'first',
                                                'MP1' : 'sum',
                                                'MP2': 'sum',
                                                'Goals1' : 'sum',
                                                'Goals2' : 'sum'

                                                }).reset_index()

In [13]:
edgesDf['UniqueTeams'] = edges['UniqueTeams']
edgesDf.rename(columns={'Source' : "source", 'Target' : 'target'}, inplace=True)
edgesDf

edgeCopy = edgesDf
edgeCopy.rename(columns={'seasonsPlayed': 'Weight'}, inplace=True)


G = nx.from_pandas_edgelist(edgesDf, edge_attr=['Season', 'Weight', 'Name1', 'Name2','Nation1','Nation2', 'UniqueTeams', 'Born1','Born2'])
# G2 = nx.from_pandas_edgelist(edgeCopy, edge_attr=['Season',  'Name1', 'Name2', "Weight"])


nodes_attr = nodes.set_index('ID').to_dict(orient = 'index')
nx.set_node_attributes(G, nodes_attr)

In [25]:
print(G.get_edge_data('000b3da6', 'ff840341'))
print(G.nodes['ff840341'])

{'Season': "['2012-2013']", 'Weight': 1, 'Name1': 'Pedro-Morales', 'Name2': 'Manuel-Iturra', 'Nation1': 'Chile', 'Nation2': 'Chile', 'UniqueTeams': 1, 'Born1': 1985, 'Born2': 1984}
{'Name': 'Pedro-Morales', 'CountryFixed': 'Chile', 'DOB': '1985', 'Season': 11, 'Squad': 5, 'Comp': 4, 'LgRank': "['1st', '1st', '1st', '1st', '6th', '11th', '9th', '3rd', '16th', '2nd', '2nd']", 'MP': 185, 'Gls': 54.0}

In [9]:
edgesDf

NameError: name 'edgesDf' is not defined

In [59]:
for (i, row) in edgesDf.iterrows():
    # print(edgesDf.at[i, 'Source'])
    sourceCom = nodes.loc[nodes['ID'] == edgesDf.at[i, 'Source'], 'Community']
    targetCom = nodes.loc[nodes['ID'] == edgesDf.at[i, 'Target'], 'Community']
    edgesDf.at[i, 'sourceCom'] = sourceCom
    edgesDf.at[i, 'targetCom'] = targetCom
    # edges.at[i, 'sourceComunity'] = nodes['Community']

KeyError: 'Source'

In [58]:
edgesCopy = pd.read_csv('edgesWithCommunity.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_29452\2457876481.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  edgesCopy = pd.read_csv('edgesWithCommunity.csv')

In [60]:
edgesCopy

,Unnamed: 0,Source,Target,Season,Name1,Name2,Squad,League,LeagueRank,Nation1,Nation2,Born1,Born2,MP1,MP2,Goals1,Goals2,seasonsPlayed,sourceCom,targetCom
0,0,00242b75,00242715,"['2018-2019', '2019-2020', '2020-2021', '2021-...",Leandro-Barreiro-Martins,Moussa-Niakhate,"['Mainz 05', 'Mainz 05', 'Mainz 05', 'Mainz 05']","['1. Bundesliga', '1. Bundesliga', '1. Bundesl...","['12th', '13th', '12th', '8th']",Luxembourg,France,2000,1996,79,128,3.0,9.0,4,0.0,1.0
1,1,00459419,001a63e0,"['2012-2013', '2013-2014']",Marko-Arnautovic,Ozkan-Yildirim,"['Werder Bremen', 'Werder Bremen']","['1. Bundesliga', '1. Bundesliga']","['14th', '12th']",Austria,Germany,1989,1993,28,18,5.0,0.0,2,2.0,0.0
2,2,005c0807,0033fb1b,"['2020-2021', '2021-2022']",Zinedine-Ferhat,Niclas-Eliasson,"['Nîmes', 'Nîmes']","['1. Ligue 1', '2. Ligue 2']","['19th', '9th']",Algeria,Sweden,1993,1995,47,66,6.0,11.0,2,1.0,1.0
3,3,007b39a5,001a63e0,['2017-2018'],Onel-Hernandez,Ozkan-Yildirim,['Braunschweig'],['2. 2. Bundesliga'],['17th'],Cuba,Germany,1993,1993,17,17,1.0,1.0,1,2.0,0.0
4,4,00891164,007faf7a,['2021-2022'],Cedric-Hountondji,Lucas-Da-Cunha,['Clermont Foot'],['1. Ligue 1'],['17th'],Benin,France,1994,2001,23,15,1.0,2.0,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560411,560411,fffea3e5,f6d7d690,['2020-2021'],Jeremy-Doku,Josh-Cullen,['Anderlecht'],['1. First Division A'],['4th'],Belgium,Ireland,2002,1996,7,21,2.0,0.0,1,1.0,2.0
560412,560412,fffea3e5,f6ddac8f,['2018-2019'],Jeremy-Doku,Ivan-Obradovic,['Anderlecht'],['1. First Division A'],['6th'],Belgium,Serbia,2002,1988,6,10,0.0,0.0,1,1.0,4.0
560413,560413,fffea3e5,f99b71de,"['2018-2019', '2019-2020', '2020-2021']",Jeremy-Doku,Edo-Kayembe,"['Anderlecht', 'Anderlecht', 'Anderlecht']","['1. First Division A', '1. First Division A',...","['6th', '8th', '4th']",Belgium,Democratic Republic of the Congo,2002,1998,34,32,5.0,0.0,3,1.0,2.0
560414,560414,fffea3e5,fc46aab1,"['2021-2022', '2022-2023']",Jeremy-Doku,Lovro-Majer,"['Rennes', 'Rennes']","['1. Ligue 1', '1. Ligue 1']","['4th', '6th']",Belgium,Croatia,2002,1998,20,37,1.0,6.0,2,1.0,1.0
560415,560415,fffea3e5,feb5d3ab,['2018-2019'],Jeremy-Doku,Dennis-Appiah,['Anderlecht'],['1. First Division A'],['6th'],Belgium,France,2002,1992,6,19,0.0,0.0,1,1.0,1.0

In [61]:
# #422095 rows
# edgesCopy[edgesCopy['sourceCom'] == edgesCopy['targetCom']]

edgeCom = edgesCopy.groupby(by=['sourceCom', 'targetCom']).agg({
    'Source' : 'count'
}).reset_index()


countryCom = edgesCopy.groupby(by=['sourceCom', 'targetCom','Nation1', 'Nation2']).agg({
    'Source' : 'count'
}).reset_index()

nonSameCom = edgeCom[edgeCom['sourceCom'] != edgeCom['targetCom']]
nonSameCom.sort_values(by='Source', ascending=False)
for (i,row) in nonSameCom.iterrows():
    if(nonSameCom.at[i, "sourceCom"] == 0 ):
        nonSameCom.at[i, "SourceCommunity"] = "Bundesliga"
    elif(nonSameCom.at[i, "sourceCom"] == 1):
        nonSameCom.at[i, "SourceCommunity"] = "Ligue 1"
    elif(nonSameCom.at[i, "sourceCom"] == 2):
        nonSameCom.at[i, "SourceCommunity"] = "Premier Leauge"
    elif(nonSameCom.at[i, "sourceCom"] == 3):
        nonSameCom.at[i, "SourceCommunity"] = "Seria A"
    else:
        nonSameCom.at[i, "SourceCommunity"] = "La Liga"

    if(nonSameCom.at[i, "targetCom"] == 0 ):
        nonSameCom.at[i, "TargetCommunity"] = "Bundesliga"
    elif(nonSameCom.at[i, "targetCom"] == 1):
        nonSameCom.at[i, "TargetCommunity"] = "Ligue 1"
    elif(nonSameCom.at[i, "targetCom"] == 2):
        nonSameCom.at[i, "TargetCommunity"] = "Premier Leauge"
    elif(nonSameCom.at[i, "targetCom"] == 3):
        nonSameCom.at[i, "TargetCommunity"] = "Seria A"
    else:
        nonSameCom.at[i, "TargetCommunity"] = "La Liga"

C:\Users\User\AppData\Local\Temp\ipykernel_29452\3707427602.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonSameCom.at[i, "SourceCommunity"] = "Bundesliga"
C:\Users\User\AppData\Local\Temp\ipykernel_29452\3707427602.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonSameCom.at[i, "TargetCommunity"] = "Ligue 1"

In [62]:
fil1 = countryCom[countryCom['Source'] > 200]
final = fil1[fil1['sourceCom'] != fil1['targetCom']]

for (i,row) in final.iterrows():
    if(final.at[i, "sourceCom"] == 0 ):
        final.at[i, "SourceCommunity"] = "Bundesliga"
    elif(final.at[i, "sourceCom"] == 1):
        final.at[i, "SourceCommunity"] = "Ligue 1"
    elif(final.at[i, "sourceCom"] == 2):
        final.at[i, "SourceCommunity"] = "Premier Leauge"
    elif(final.at[i, "sourceCom"] == 3):
        final.at[i, "SourceCommunity"] = "Seria A"
    else:
        final.at[i, "SourceCommunity"] = "La Liga"

    if(final.at[i, "targetCom"] == 0 ):
        final.at[i, "TargetCommunity"] = "Bundesliga"
    elif(final.at[i, "targetCom"] == 1):
        final.at[i, "TargetCommunity"] = "Ligue 1"
    elif(final.at[i, "targetCom"] == 2):
        final.at[i, "TargetCommunity"] = "Premier Leauge"
    elif(final.at[i, "targetCom"] == 3):
        final.at[i, "TargetCommunity"] = "Seria A"
    else:
        final.at[i, "TargetCommunity"] = "La Liga"

final.sort_values(by="Source", ascending=False)

C:\Users\User\AppData\Local\Temp\ipykernel_29452\2913610499.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.at[i, "SourceCommunity"] = "Bundesliga"
C:\Users\User\AppData\Local\Temp\ipykernel_29452\2913610499.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.at[i, "TargetCommunity"] = "Ligue 1"

,sourceCom,targetCom,Nation1,Nation2,Source,SourceCommunity,TargetCommunity
42577,4.0,3.0,Spain,Italy,1186,La Liga,Seria A
37092,3.0,4.0,Italy,Spain,1098,Seria A,La Liga
39960,4.0,1.0,Spain,France,1000,La Liga,Ligue 1
27290,2.0,4.0,England,Spain,975,Premier Leauge,La Liga
41284,4.0,2.0,Spain,England,948,La Liga,Premier Leauge
20239,2.0,1.0,England,France,906,Premier Leauge,Ligue 1
17393,1.0,4.0,France,Spain,841,Ligue 1,La Liga
30188,3.0,1.0,Italy,France,720,Seria A,Ligue 1
14509,1.0,2.0,France,England,711,Ligue 1,Premier Leauge
16112,1.0,3.0,France,Italy,679,Ligue 1,Seria A
18684,2.0,0.0,England,Germany,630,Premier Leauge,Bundesliga
5579,0.0,2.0,Germany,England,549,Bundesliga,Premier Leauge
8290,0.0,4.0,Germany,Spain,547,Bundesliga,La Liga
38665,4.0,0.0,Spain,Germany,535,La Liga,Bundesliga
4190,0.0,1.0,Germany,France,511,Bundesliga,Ligue 1
9310,1.0,0.0,France,Germany,497,Ligue 1,Bundesliga
14511,1.0,2.0,France,France,495,Ligue 1,Premier Leauge
20305,2.0,1.0,France,France,478,Premier Leauge,Ligue 1
25831,2.0,3.0,England,Italy,448,Premier Leauge,Seria A
42544,4.0,3.0,Spain,Argentina,447,La Liga,Seria A
36568,3.0,4.0,Argentina,Spain,398,Seria A,La Liga
31777,3.0,2.0,Italy,England,369,Seria A,Premier Leauge
28005,2.0,4.0,Spain,Spain,352,Premier Leauge,La Liga
41334,4.0,2.0,Spain,Spain,346,La Liga,Premier Leauge
42552,4.0,3.0,Spain,Brazil,339,La Liga,Seria A
41587,4.0,3.0,Argentina,Italy,336,La Liga,Seria A
7101,0.0,3.0,Germany,Italy,336,Bundesliga,Seria A
38919,4.0,1.0,Argentina,France,285,La Liga,Ligue 1
28806,3.0,0.0,Italy,Germany,282,Seria A,Bundesliga
37038,3.0,4.0,Italy,Argentina,278,Seria A,La Liga
41563,4.0,3.0,Argentina,Argentina,277,La Liga,Seria A
17358,1.0,4.0,France,France,266,Ligue 1,La Liga
36687,3.0,4.0,Brazil,Spain,265,Seria A,La Liga
36522,3.0,4.0,Argentina,Argentina,259,Seria A,La Liga
39340,4.0,1.0,France,France,255,La Liga,Ligue 1
16099,1.0,3.0,France,France,239,Ligue 1,Seria A
29748,3.0,1.0,Brazil,France,227,Seria A,Ligue 1
9308,1.0,0.0,France,France,224,Ligue 1,Bundesliga
41286,4.0,2.0,Spain,France,223,La Liga,Premier Leauge
26907,2.0,4.0,Argentina,Spain,209,Premier Leauge,La Liga
4132,0.0,1.0,France,France,206,Bundesliga,Ligue 1

In [63]:
nonSameCom
nonSameCom.sort_values(by='Source', ascending=False)

    sourceCom  targetCom  Source SourceCommunity TargetCommunity
23        4.0        3.0    8862         La Liga         Seria A
11        2.0        1.0    8515  Premier Leauge         Ligue 1
7         1.0        2.0    8444         Ligue 1  Premier Leauge
19        3.0        4.0    8402         Seria A         La Liga
14        2.0        4.0    8253  Premier Leauge         La Liga
22        4.0        2.0    8192         La Liga  Premier Leauge
21        4.0        1.0    7508         La Liga         Ligue 1
10        2.0        0.0    7263  Premier Leauge      Bundesliga
16        3.0        1.0    7103         Seria A         Ligue 1
8         1.0        3.0    6946         Ligue 1         Seria A
17        3.0        2.0    6809         Seria A  Premier Leauge
13        2.0        3.0    6804  Premier Leauge         Seria A
2         0.0        2.0    6745      Bundesliga  Premier Leauge
9         1.0        4.0    6538         Ligue 1         La Liga
5         1.0        0.0    5630         Ligue 1      Bundesliga
1         0.0        1.0    5594      Bundesliga         Ligue 1
3         0.0        3.0    5506      Bundesliga         Seria A
15        3.0        0.0    5420         Seria A      Bundesliga
20        4.0        0.0    5004         La Liga      Bundesliga
4         0.0        4.0    4783      Bundesliga         La Liga

In [5]:
Squads = edges['Squad']
uniqueTeams = []
print(len(set(Squads[2])))
for i in range(len(Squads)):
    uniqueTeams.append(len(set(Squads[i])))

#print(uniqueTeams)

1

In [6]:
edges['UniqueTeams'] = uniqueTeams

In [14]:
import community as community_louvain
import matplotlib.cm as cm

partition = community_louvain.best_partition(G)

In [15]:
partition

{'00242b75': 0,
 '00242715': 1,
 '00459419': 2,
 '001a63e0': 0,
 '005c0807': 1,
 '0033fb1b': 1,
 '007b39a5': 2,
 '00891164': 1,
 '007faf7a': 1,
 '008a6e6d': 0,
 '00844823': 0,
 '00b0bb87': 3,
 '00528660': 3,
 '0118c54c': 1,
 '0127419a': 3,
 '0000acda': 3,
 '0136606c': 1,
 '014662c1': 0,
 '00454f25': 0,
 '014b57f5': 4,
 '003a5c72': 4,
 '0168069e': 1,
 '0170fb91': 1,
 '00a8d210': 1,
 '0172d6cc': 2,
 '002d06bb': 2,
 '0108f81e': 1,
 '0174ba21': 0,
 '00963611': 0,
 '017ab4d4': 4,
 '011d8c56': 4,
 '01870104': 1,
 '019f4d0d': 3,
 '014a3e8c': 1,
 '01ae64cd': 4,
 '014aa7bd': 4,
 '01b8a2b2': 3,
 '01becd60': 1,
 '01c3aff5': 0,
 '01ce9e70': 2,
 '009a4f60': 0,
 '01962d0d': 2,
 '01ceeb0f': 1,
 '012ac715': 1,
 '01e5f06e': 4,
 '01a49bd2': 4,
 '01e9c0a6': 4,
 '00b159ff': 0,
 '016828bd': 1,
 '01eb744d': 4,
 '01efac19': 3,
 '021ea92d': 2,
 '02319ad7': 4,
 '00b28772': 4,
 '023937a9': 3,
 '008925bf': 3,
 '00e3f15c': 3,
 '02503ca3': 4,
 '02728546': 3,
 '02760e49': 0,
 '01834aa0': 0,
 '02895818': 3,
 '028d362d': 1,
 '028e70b9': 3,
 '00672803': 0,
 '012c38ec': 0,
 '02b29014': 2,
 '02b2937c': 3,
 '02bcaf8e': 1,
 '02c15616': 4,
 '02c89cb6': 4,
 '0204d102': 4,
 '02c9ea40': 2,
 '027a5151': 2,
 '02caf6e0': 3,
 '02ce2030': 1,
 '01b63256': 1,
 '02d2c436': 4,
 '000b3da6': 4,
 '004d185e': 4,
 '02d819d2': 0,
 '017018d1': 0,
 '02e4da70': 4,
 '02e7fa4f': 3,
 '02ef8778': 4,
 '02febfdc': 3,
 '00823e9a': 3,
 '0300e2dc': 0,
 '017917e6': 0,
 '03049c8c': 4,
 '030ef8d6': 4,
 '032f766b': 2,
 '032f894e': 0,
 '0356cf4f': 2,
 '035aa51c': 1,
 '035c1d09': 3,
 '03622183': 2,
 '00f0482f': 2,
 '0366fc78': 4,
 '0367a469': 1,
 '0313a347': 2,
 '036bba5f': 4,
 '0375723e': 3,
 '03760df0': 3,
 '037f2523': 1,
 '00638016': 1,
 '038aa94a': 0,
 '03904ca0': 4,
 '039783d3': 4,
 '039ae103': 4,
 '03a4a101': 4,
 '03ac019e': 0,
 '03afb275': 1,
 '03bd0bf4': 0,
 '03c45164': 4,
 '03d5e282': 3,
 '03dc5b1f': 4,
 '03df04ff': 0,
 '016ff750': 0,
 '03e91055': 1,
 '03f946ed': 3,
 '040d8500': 0,
 '0412b9cd': 3,
 '0420d84f': 2,
 '042cac2d': 0,
 '042e8a49': 0,
 '0437c448': 4,
 '043abf41': 1,
 '0442183b': 2,
 '01226327': 2,
 '012c975a': 2,
 '044c3f57': 0,
 '046f30a8': 2,
 '0473469e': 3,
 '047d9cc1': 1,
 '048877f5': 3,
 '0489bb30': 3,
 '048a1cbc': 0,
 '04965583': 4,
 '0076ab7f': 4,
 '027f513e': 4,
 '049751d7': 3,
 '04979b5a': 0,
 '0497a545': 3,
 '04981123': 4,
 '04989945': 3,
 '049c2adb': 4,
 '018ce429': 4,
 '04a65a8f': 4,
 '04ac8285': 4,
 '04b40c58': 3,
 '01040647': 3,
 '04b8d5c8': 4,
 '009633c8': 0,
 '04bb2b06': 1,
 '04c11885': 0,
 '00c3d4dc': 0,
 '04e17fd5': 4,
 '04e195ee': 2,
 '04e6e152': 3,
 '05099e0e': 1,
 '0512a60a': 1,
 '0515a4cb': 1,
 '050f6302': 1,
 '05174d9e': 1,
 '05384ea1': 4,
 '05428bc9': 1,
 '05439de2': 0,
 '00a6485f': 0,
 '054849d2': 0,
 '054bd5ec': 3,
 '0555525f': 3,
 '0557ff4f': 1,
 '0558e236': 2,
 '0562b7f1': 2,
 '05652d7c': 4,
 '0566f8a9': 2,
 '02d6d2b4': 2,
 '056d2d95': 0,
 '05748af4': 3,
 '057a6936': 2,
 '03a97c40': 2,
 '05856228': 1,
 '0588a092': 3,
 '0154d290': 3,
 '0589c701': 1,
 '059948df': 2,
 '059a0231': 0,
 '0049d544': 1,
 '05a4465d': 4,
 '05ba9d7c': 0,
 '05ca4fcb': 2,
 '05cb19c5': 0,
 '037130ca': 0,
 '05d548d8': 0,
 '05e19d6a': 3,
 '04df29a5': 3,
 '05e2d5ea': 0,
 '05e8ca6d': 2,
 '00e1cf8f': 2,
 '05f99a4a': 0,
 '06050480': 3,
 '060606ec': 3,
 '060a66fb': 4,
 '061266cd': 1,
 '061c9f6f': 3,
 '053bb202': 3,
 '061e8e23': 0,
 '061f1eed': 3,
 '0629adab': 0,
 '062b01b9': 3,
 '0630eb63': 0,
 '063544f2': 1,
 '06420c93': 2,
 '064c523e': 3,
 '0657888a': 4,
 '037dbd30': 4,
 '065dc209': 1,
 '066272e4': 4,
 '066be641': 2,
 '067e58bc': 0,
 '068f4dec': 4,
 '068fa372': 0,
 '043ad077': 0,
 '06983922': 4,
 '05816e19': 1,
 '06aa77a6': 1,
 '06b08c45': 3,
 '06b34f37': 3,
 '06c48679': 1,
 '06cb3efe': 1,
 '06d45e81': 2,
 '06df8256': 1,
 '06efa9dc': 4,
 '06f33dc8': 1,
 '06f46837': 1,
 '06f81a8c': 2,
 '06fdad54': 1,
 '07059b2e': 2,
 '070a3904': 4,
 '0670ee51': 1,
 '070ec0b1': 0,
 '07129f3c': 4,
 '0713cf26': 1,
 '062fc2e6': 4,
 '07186947': 1,
 '0728bebe': 3,
 '07296190': 1,
 '0738014e': 1,
 '073b1b37': 4,
 '0745b37d': 0,
 '074b9902': 0,
 '074d8166': 2,
 '07537011': 4,
 '075fe5a3': 4,
 '07666c20': 2,
 '076bb352': 2,
 '07750704': 4,
 '07802f7f': 2,
 '0780ab75': 2,
 '07869028': 2,
 '011360ce': 2,
 '079413e5': 2,
 '07a0baa9': 4,
 '07a821e4': 0,
 '07abb358': 3,
 '07ace8c3': 2,
 '07c7eb0c': 0,
 '07cf67f3': 3,
 '07d67579': 4,
 '07df1b90': 3,
 '07ea0ef2': 3,
 '07f55871': 3,
 '07f73a4f': 1,
 '07f8bcc8': 3,
 '07fffbc5': 2,
 '05380aa0': 2,
 '08011c9c': 4,
 '080440a4': 0,
 '08082af0': 1,
 '0533b31e': 1,
 '080ac8d8': 4,
 '080c7e87': 3,
 '081b6080': 3,
 '0821331c': 3,
 '0830a4f9': 3,
 '083525e5': 1,
 '0847b5a5': 3,
 '08511d65': 4,
 '08534272': 1,
 '08593525': 0,
 '07d3bfec': 0,
 '085e71a7': 3,
 '0861b8d6': 3,
 '07767f42': 3,
 '086d7db3': 1,
 '0878b548': 2,
 '087b932d': 2,
 '088ca1bd': 0,
 '089436e6': 1,
 '089550f5': 3,
 '089667a5': 2,
 '03e48abb': 2,
 '08990838': 3,
 '089f82b2': 3,
 '06a4bf18': 1,
 '08a298be': 0,
 '01b6e7bd': 0,
 '08a41cc9': 0,
 '08aa17d0': 2,
 '08aa9cd1': 3,
 '08af8dbe': 4,
 '08b10f50': 2,
 '08b97ea7': 3,
 '08bd23a0': 2,
 '08eb3b58': 3,
 '08f5afaa': 3,
 '09082933': 1,
 '09089343': 3,
 '0913c971': 3,
 '091795f2': 3,
 '091c86e2': 0,
 '007414dd': 2,
 '0927ab8e': 1,
 '09296fcc': 4,
 '0936ba4d': 3,
 '095009cc': 4,
 '09507ffa': 1,
 '09538fdb': 3,
 '095867aa': 3,
 '09586899': 0,
 '0959c2a2': 4,
 '095e4199': 1,
 '0810b6df': 1,
 '0967845b': 3,
 '096a77c4': 0,
 '098139eb': 3,
 '0984c5d5': 1,
 '098545da': 0,
 '09899de8': 3,
 '09952eb7': 3,
 '0999a593': 0,
 '099a2de5': 3,
 '099e666f': 2,
 '09a1ed52': 4,
 '09a9e921': 4,
 '01da7812': 4,
 '09332647': 4,
 '09b7100a': 4,
 '09bcc566': 0,
 '09d26c80': 4,
 '09e81276': 4,
 '09edf9d0': 0,
 '09f1423a': 3,
 '09f24df6': 1,
 '09f82c6e': 2,
 '09fec029': 2,
 '0a02a8fa': 4,
 '0a0cc13c': 4,
 '0a0ee36e': 4,
 '0a0f2a38': 0,
 '0a16eb36': 2,
 '0a17b9f9': 1,
 '0a1cb833': 0,
 '0a1efd3c': 3,
 '0a1f8ddf': 1,
 '0a240815': 3,
 '0a2ac435': 3,
 '0a3065c8': 3,
 '0a3d6d2b': 0,
 '0a3f6cde': 0,
 '0a447501': 3,
 '0a483542': 3,
 '0a4a94a2': 1,
 '0a54bf93': 1,
 '0a63446f': 1,
 '0a69de7b': 4,
 '0a89e877': 0,
 '0a8bcb23': 4,
 '0a8d6b91': 1,
 '0a8e46da': 2,
 '0a8fd9cb': 4,
 '0a9048ce': 2,
 '0a9df801': 0,
 '0aa874f4': 1,
 '0aac0c4c': 3,
 '0ab1f153': 3,
 '0ab81317': 3,
 '0abc51f2': 4,
 '0ac893aa': 3,
 '0ac94a23': 4,
 '0acda699': 3,
 '0ad37003': 1,
 '0ae4e09a': 4,
 '05e805eb': 4,
 '0af4dcf0': 1,
 '01fd01e8': 1,
 '0b008fab': 1,
 '0b03d319': 0,
 '0b0cbe5b': 1,
 '0b2c8585': 4,
 '0b2c9aec': 1,
 '0b2d90df': 1,
 '0b33f6ad': 4,
 '0b3bd1fc': 0,
 '0b40b3a9': 3,
 '0b4c3b21': 3,
 '0b4d8274': 1,
 '0b4f388a': 0,
 '0b51984b': 0,
 '0b5a292a': 3,
 '0b5b8057': 0,
 '01d00f38': 4,
 '0b64b1e6': 1,
 '0b68c35a': 4,
 '040e5ca4': 4,
 '0b7287ef': 3,
 '0b7dae21': 0,
 '0b89dbcc': 4,
 '0b90bb97': 4,
 '0b92fa60': 1,
 '0b969bc1': 3,
 '0b98abf4': 3,
 '0ba976e4': 4,
 '056269d7': 4,
 '0bad4516': 2,
 '0bb6e193': 1,
 '0bbab654': 4,
 '0bbc9101': 0,
 '0bc4e720': 4,
 '0bd1ea64': 2,
 '0bd57693': 4,
 '0be276c6': 3,
 '0be95d34': 1,
 '0bf0e5b1': 4,
 '0bfaa3b2': 0,
 '0bfca6a1': 1,
 '080de72a': 1,
 '0c0508dc': 0,
 '0c1f8f71': 0,
 '00f518d8': 0,
 '0c2ac3cb': 4,
 '0c3057a9': 0,
 '0c3f7197': 4,
 '0c403511': 1,
 '0c577541': 0,
 '0c61c77c': 0,
 '0c717ae6': 4,
 '0c7d15af': 2,
 '0c8f27b5': 3,
 '0c971997': 3,
 '0cadc46d': 4,
 '0cb152eb': 1,
 '0cb29e91': 4,
 '0cb40f7a': 1,
 '0cbc8baa': 1,
 '0cbf4c54': 0,
 '0cc474e7': 4,
 '0cc5f4a5': 0,
 '0ccac09c': 3,
 '0cd0e21b': 3,
 '0cd31129': 2,
 '0cddeaa7': 0,
 '0cf465f2': 3,
 '0cf778df': 0,
 '0d058ab8': 0,
 '0d077b88': 3,
 '0d0828e8': 3,
 '0d0fce16': 0,
 '0d10333c': 3,
 '0d2158d5': 1,
 '0d2603b5': 4,
 '0d267745': 4,
 '0d298637': 4,
 '0d2bdb4b': 3,
 '0d3585b5': 1,
 '0d422df7': 3,
 '0d4ceb32': 2,
 '0d521662': 2,
 '0d55d942': 0,
 '0d57f1c1': 1,
 '0d627659': 1,
 '0d690336': 4,
 '0d72be2a': 3,
 '0d72fbca': 0,
 '0d7b6576': 1,
 '0c291a1a': 1,
 '0d82903c': 3,
 '0d85a4e8': 2,
 '0d863fdc': 1,
 '0d8a37c2': 0,
 '080aee24': 0,
 '0d9168da': 1,
 '0d99c6e1': 1,
 '0d9b2d31': 4,
 '0d9b99a4': 3,
 '0da32a38': 0,
 '0b104510': 0,
 '0da6a13e': 4,
 '0dabaf14': 0,
 '0db169ae': 3,
 '0db5d2c8': 2,
 '0db918ff': 2,
 '0dba1f3e': 0,
 '0acbca30': 0,
 '0dc6a7fd': 3,
 '0dca0fd9': 3,
 '0dcc8a9f': 2,
 '0dce3356': 4,
 '0dda6fb3': 1,
 '0def2376': 3,
 '0df092d3': 2,
 '0df2b165': 2,
 '03edb878': 2,
 '0dfce079': 3,
 '0e0102eb': 0,
 '0e0ab524': 0,
 '0e0e4422': 3,
 '0e12089d': 1,
 '0e1802a6': 3,
 '0e21da0b': 1,
 '0e21fc3c': 3,
 '0e34de55': 4,
 '0e459095': 2,
 '0e46fa2f': 1,
 '0e490f6e': 3,
 '0e4ad439': 1,
 '0e4fef6e': 4,
 '0e50f929': 4,
 '0e59a941': 1,
 '0e5b2af1': 3,
 '0e5ddc7c': 4,
 '0e6bc38c': 0,
 '0e7ccfc4': 1,
 '0e96a5e1': 1,
 '0e9ce3e0': 4,
 '0eaaa3b0': 4,
 '078054d6': 4,
 '0eb5720b': 0,
 '0ed063d6': 1,
 '0eda0ab8': 3,
 '0ee664db': 1,
 '0eeafda5': 3,
 '0ef89a37': 2,
 '0c861e47': 4,
 '0f04d7b6': 2,
 '0f0aa5b4': 4,
 '0f0d05fd': 1,
 '0f134faf': 2,
 '0f138d5a': 4,
 '0f22b650': 3,
 '0f26fd24': 1,
 '0f26ffd7': 4,
 '0f348db8': 0,
 '0f412b88': 1,
 '0f4567db': 1,
 '0f47717b': 3,
 '0f4c0bad': 1,
 '0f4ff44a': 0,
 '0f52f925': 1,
 '0f59a7bf': 0,
 '0f602616': 2,
 '0f662bdf': 3,
 '0f697e02': 4,
 '0f7533cd': 2,
 '0f7dbaf6': 4,
 '0f8418aa': 1,
 '0f86995c': 1,
 '0f87f8c2': 1,
 '0f8bd0a6': 4,
 '0f933743': 3,
 '0f9b8301': 1,
 '0fa7ec78': 3,
 '0fb21da9': 1,
 '09538c47': 4,
 '0fb9a389': 3,
 '0fbb73c2': 1,
 '0fbcbed1': 2,
 '0fbecd11': 0,
 '0fdcef0e': 3,
 '0fe4654e': 4,
 '0fe7f7bc': 1,
 '0fee6bda': 3,
 '0ff630d0': 1,
 '0ff67313': 4,
 '0ff967f7': 2,
 '0ff9eabc': 2,
 '1000a059': 2,
 '1001ae82': 1,
 '10072610': 4,
 '101da2b5': 2,
 '10206347': 2,
 '0eb03d5b': 1,
 '1025db8e': 0,
 '08452314': 2,
 '1026f88d': 4,
 '102a7473': 2,
 '102c9665': 1,
 '102e2599': 3,
 '102ed2b2': 2,
 '102fda08': 4,
 '103b7264': 3,
 '1040e783': 1,
 '104ed625': 1,
 '104f41dc': 3,
 '10549b49': 0,
 '0c7a48f8': 0,
 '105b7d7d': 1,
 '1061c207': 1,
 '1064659d': 2,
 '10650926': 1,
 '106bca06': 0,
 '106c142c': 4,
 '10745192': 0,
 '1079c685': 3,
 '107c6fbd': 4,
 '108bb1e1': 1,
 '108fae06': 0,
 '108fe016': 3,
 '10b9fa99': 2,
 '10dc46f0': 3,
 '10dd88f9': 1,
 '10e25802': 4,
 '10e7f486': 3,
 '10e858b6': 3,
 '10ec4169': 2,
 '10efd0e1': 1,
 '10f0fdd3': 1,
 '10f1cd17': 4,
 '110c39d8': 3,
 '110d0643': 2,
 '1117b9ff': 2,
 '1118715f': 1,
 '0f763d1a': 1,
 '111c3236': 2,
 '111c668a': 4,
 '1124bc4f': 3,
 '112521d1': 4,
 '112c495e': 2,
 '1137759d': 2,
 '1137fff3': 3,
 '113fb4ea': 4,
 '1148323a': 2,
 '114b510e': 4,
 '114bbdee': 1,
 '1151fb6e': 0,
 '1163de29': 3,
 '11644dea': 0,
 '117beb8f': 3,
 '11899bb1': 4,
 '11962fe7': 3,
 '119b9a8e': 4,
 '11a1951e': 3,
 '11adc5e8': 3,
 '11af1c57': 3,
 '11b349cf': 0,
 '11b3d067': 2,
 '11b8a92d': 1,
 '11b9265b': 4,
 '11bc43f4': 0,
 '11c30a46': 4,
 '11ced928': 1,
 '11d68e60': 4,
 '11d8aff0': 0,
 '11dbba47': 0,
 '11e0904f': 3,
 '11fcbfe7': 3,
 '11fd2b75': 4,
 '11ff3d56': 1,
 '1214f0a6': 4,
 '121612e7': 2,
 '1222ab35': 2,
 '1226cc4f': 3,
 '1232e1dc': 1,
 '1238a3f9': 0,
 '1238d5c3': 0,
 '12421a7c': 4,
 '124f39b9': 0,
 '1250086e': 4,
 '1251f42e': 1,
 '1253a12e': 3,
 '125cb9fe': 1,
 '0059d82e': 1,
 '1263fecd': 1,
 '1265a93a': 2,
 '126cf855': 0,
 '126fd532': 1,
 '1272d9f4': 3,
 '12806697': 3,
 '12851227': 3,
 '1295552e': 3,
 '129af0db': 4,
 '129dd8e7': 4,
 '12a875ce': 4,
 '12aa7661': 2,
 '12aca697': 3,
 '12b9753e': 3,
 '12bd0579': 1,
 '12bf5523': 1,
 '12c35abe': 0,
 '12c50af5': 4,
 '12ce473a': 0,
 '12d25112': 4,
 '12e6d21a': 1,
 '12e7ac0a': 0,
 '12eda7be': 4,
 '12fedefa': 3,
 '1301c012': 0,
 '130444f9': 0,
 '130a7a3f': 4,
 '13203c45': 1,
 '1321d6f0': 4,
 '132a82f1': 1,
 '132ac341': 4,
 '132bb875': 1,
 '132e4111': 0,
 '1338e42b': 3,
 '133faa84': 4,
 '1349f9d0': 0,
 '13853c88': 4,
 '139560df': 4,
 '139db2d0': 1,
 '13ac19de': 4,
 '13b0c150': 3,
 '13b1fd46': 1,
 '13b44b02': 3,
 '13b52dec': 1,
 '13c3bec9': 4,
 '13c44fc5': 1,
 '13c8e5f6': 3,
 '13d23b29': 0,
 '13d41642': 4,
 '13d820de': 3,
 '13da9ba9': 1,
 '13dd442f': 2,
 '13ddc856': 0,
 '13e0eb29': 4,
 '13e827f8': 2,
 '13e8756b': 0,
 '13ea2544': 1,
 '13f455c2': 1,
 '13f4ca73': 1,
 '13f89eaa': 3,
 '13fe7b69': 0,
 '140afefb': 0,
 '1415840f': 2,
 '14165e5f': 3,
 '142741bb': 2,
 '142ed694': 1,
 '14349aeb': 3,
 '144607cc': 3,
 '1451bcc6': 1,
 '1454df8d': 2,
 '1467af0d': 1,
 '147c0f9e': 3,
 '148d4105': 2,
 '148e136f': 1,
 '148e746e': 1,
 '149770b8': 4,
 '149895bf': 4,
 '149a5e41': 1,
 '149c5f5d': 3,
 '14a03f68': 1,
 '14a6c075': 4,
 '14a7af33': 0,
 '14a96e1c': 2,
 '14adaf39': 1,
 '14b8fcdf': 3,
 '14bf51f0': 1,
 '14caf5c9': 2,
 '14d5b7ac': 4,
 '14df1d7f': 1,
 '14d2670e': 1,
 '14e8e9d7': 1,
 '14ed837f': 4,
 '150a54c2': 4,
 '150d5992': 0,
 '15107141': 4,
 '1512328c': 4,
 '15128a4f': 1,
 '1519a888': 4,
 '1522dab2': 3,
 '15285503': 1,
 '1533d658': 4,
 '15409862': 0,
 '15413fa5': 0,
 '1544319d': 3,
 '1544f145': 2,
 '1545cf15': 1,
 '1550f0e0': 1,
 '1561cd53': 4,
 '156527c0': 0,
 '1566e437': 2,
 '15781606': 4,
 '157d29b6': 3,
 '1586379d': 3,
 '158766ba': 1,
 '158da7ea': 1,
 '15937e17': 4,
 '15944afd': 1,
 '1598599e': 1,
 '15a21c79': 0,
 '15ab5a2b': 2,
 '15ac2dc2': 4,
 '15b2386c': 4,
 '15b287da': 0,
 '15b4e984': 1,
 '01460670': 1,
 '15d0c248': 3,
 '15d561fa': 2,
 '15e1afd5': 1,
 '15e99107': 1,
 '15e9c7e6': 2,
 '15ea812b': 2,
 '15ea94de': 0,
 '15ec0042': 4,
 '15f24fe7': 0,
 '15f3ec41': 2,
 '15fd5593': 0,
 '160599ed': 2,
 '161e95ac': 2,
 '1624d75b': 4,
 '16264a81': 2,
 '162b5811': 4,
 '162efffd': 4,
 '162fc0b3': 3,
 '16324e1d': 1,
 '1633fc8a': 4,
 '16380240': 0,
 '16463a79': 3,
 '16569fef': 3,
 '165a2e40': 1,
 '165bed61': 2,
 '1662668d': 4,
 '16657b95': 3,
 '166a981d': 1,
 '16714a62': 1,
 '167c1bb0': 4,
 '104b4ad3': 1,
 '167d5018': 1,
 '167d7dd3': 3,
 '168ec9a3': 4,
 '1695c659': 2,
 '169e872c': 0,
 '169fd162': 0,
 '16aa3654': 4,
 '16aa7d4c': 1,
 '16b4260e': 0,
 '16b8fabd': 0,
 '16b9d5cf': 3,
 '16bb656a': 3,
 '16bc48f8': 3,
 '16cabe2a': 3,
 '16ceb862': 2,
 '16daec92': 0,
 '16ddc7fe': 1,
 '16e9d0ea': 4,
 '16edc522': 4,
 '16f65d25': 2,
 '16fa6881': 0,
 '17082008': 4,
 '170eb35b': 4,
 '1719aa30': 4,
 '1719f6b2': 2,
 '171bf11d': 1,
 '172e52d8': 2,
 '173061c0': 3,
 '17310a6c': 3,
 '17370b95': 0,
 '17376543': 0,
 '174651c8': 4,
 '1748c9f7': 0,
 '16ee355d': 0,
 '174944a3': 3,
 '174f09a6': 4,
 '1757d8ed': 2,
 '17611373': 0,
 '1761957d': 3,
 '176674ab': 1,
 '17695062': 2,
 '1770bd68': 2,
 '1771f2c1': 4,
 '17734ea0': 2,
 '17780d2b': 0,
 '1780bb4a': 3,
 '1787195f': 1,
 '17897319': 0,
 '178ae8f8': 2,
 '17a1299d': 4,
 '17acc2ed': 2,
 '17b4ea83': 4,
 '17cc3f63': 0,
 '17cd5bb7': 4,
 '17cddb4d': 4,
 '17d4507a': 2,
 '17d45fb2': 2,
 '17d9e354': 4,
 '17e173f6': 3,
 '17f1ab30': 3,
 '17f29fb0': 1,
 '17f3620a': 3,
 '17f5a888': 1,
 '18017beb': 4,
 '1813b408': 1,
 '1827a42d': 4,
 '182c89db': 2,
 '1840e36d': 4,
 '184e4970': 2,
 '1856cc10': 0,
 '1858bbf7': 4,
 '185990eb': 2,
 '185bf610': 3,
 '186564b3': 3,
 '186b5cfc': 1,
 '186c0d18': 4,
 '18736214': 3,
 '1880614f': 3,
 '188a2362': 3,
 '1891864b': 0,
 '189cee7b': 2,
 '18a7d190': 0,
 '18a9efe4': 0,
 '18abe173': 4,
 '18b03203': 1,
 '18b0ad94': 3,
 '18b896d6': 0,
 '18b999f4': 2,
 '18c2e247': 0,
 '18c74b8d': 4,
 '18d226a9': 1,
 '18dc8533': 4,
 '18dd3219': 3,
 '18df0b30': 3,
 '18e96f64': 2,
 '18ebca4b': 1,
 '18f0a9f0': 4,
 '18f9dbd0': 3,
 '1900032e': 0,
 '19053e31': 1,
 '19058f02': 4,
 '190bc058': 2,
 '190c0bb8': 2,
 '192c89a6': 4,
 '1931bde9': 2,
 '193ed0c0': 2,
 '1940be91': 0,
 '1944818c': 4,
 '1950ed97': 4,
 '1955f68d': 4,
 '1956b948': 1,
 '195f5e38': 3,
 '195faed6': 0,
 '1960e24a': 3,
 '1961b2aa': 4,
 '197038af': 1,
 '19709006': 4,
 '1972bcbb': 0,
 '197328ef': 0,
 '197640fd': 3,
 '1978a39a': 3,
 '199c2648': 4,
 '199ff86e': 1,
 '19a12bed': 1,
 '19a967ab': 0,
 '19a9cb70': 2,
 '19aeb20a': 3,
 '19b3b837': 4,
 '19b54bb6': 1,
 '19b62821': 1,
 '19b776e9': 4,
 '19b8b0b9': 0,
 '19ba6c6d': 1,
 '19c0957d': 1,
 '19c36442': 4,
 '19cae58d': 4,
 '19cda00b': 4,
 '19cdceb0': 4,
 '19d1c41f': 3,
 '19dee7dd': 3,
 '19e4eab9': 3,
 '19e50035': 2,
 '19f4d211': 2,
 '19f8e480': 1,
 '19fdd28f': 4,
 '1a064b7d': 3,
 '1a066e69': 1,
 '1a1033a1': 0,
 '1a1609ab': 4,
 '1a160ea3': 2,
 '1a234d32': 1,
 '1a248246': 1,
 '1a24d5b6': 4,
 '1a2935f6': 2,
 '1a29f38c': 2,
 '1a317a1b': 4,
 '1a4542c8': 2,
 '1a4b9094': 1,
 '1a4ef233': 2,
 '1a50eab9': 1,
 '1a57850b': 0,
 ...}

In [206]:
def ensembleStats2():
    #clustering_DP = []
    NumClusters = []



    for i in range(100): # 1000 is better
        randEdges = pd.read_csv(f'random_{i}.csv')
        newG = nx.from_pandas_edgelist(randEdges)
        partition = community_louvain.best_partition(newG)
        newComs = pd.DataFrame(partition.items(), columns=['ID', 'Community'])
        uniqueclusters = newComs['Community'].nunique()

        NumClusters.append(uniqueclusters)
        print(i, uniqueclusters)
            #myfile.write("\n", d_DP)
        #clustering_DP.append(c_DP)

    
    return NumClusters

In [207]:
clusterVals = ensembleStats2()

0 9
1 8
2 8
3 9
4 9
5 7
6 9
7 11
8 9
9 8
10 6
11 7
12 9
13 8
14 8
15 10
16 10
17 8
18 7
19 7
20 8
21 9
22 9
23 7
24 8
25 9
26 8
27 9
28 7
29 9
30 7
31 11
32 9
33 6
34 7
35 6
36 9
37 9
38 8
39 7
40 10
41 9
42 9
43 9
44 7
45 10
46 8
47 7
48 8
49 10
50 7
51 9
52 8
53 7
54 8
55 8
56 9
57 10
58 10
59 8
60 10
61 9
62 9
63 10
64 6
65 6
66 8
67 11
68 9
69 9
70 9
71 6
72 8
73 8
74 8
75 9
76 8
77 8
78 8
79 8
80 11
81 7
82 9
83 10
84 8
85 8
86 6
87 8
88 7
89 8
90 6
91 7
92 8
93 8
94 8
95 10
96 10
97 9
98 10
99 7

In [215]:
print(np.mean(clusterVals))
print(np.std(clusterVals))

8.32
1.2399999999999998

In [190]:
coms = pd.DataFrame(partition.items(), columns=['ID', 'Community'])
coms['Community'].nunique()

5

In [183]:
coms

            ID  Community
0     00242b75          0
1     00242715          1
2     00459419          2
3     001a63e0          0
4     005c0807          1
...        ...        ...
9695  ffd69308          4
9696  ffec9769          1
9697  ffed43e3          2
9698  fff10a46          2
9699  fffea3e5          1

[9700 rows x 2 columns]

In [189]:
coms['Community'].nunique()

5

In [83]:
nodes = nodes.merge(coms, on="ID")

In [113]:
nodes[nodes['Community'] == 4]

,ID,Name,CountryFixed,DOB,Season,Squad,Comp,LgRank,MP,Gls,Community
1,000b3da6,Manuel-Iturra,Chile,1984,10,9,6,"['10th', '18th', '6th', '15th', '17th', '17th'...",234,2.0,4
7,003a5c72,Mikel-San-Jose,Spain,1989,13,3,3,"['8th', '6th', '10th', '12th', '4th', '7th', '...",358,28.0,4
11,004d185e,Tete-Morente,Spain,1996,6,4,2,"['15th', '20th', '18th', '16th', '14th', '12th...",152,11.0,4
18,0076ab7f,Nemanja-Gudelj,Serbia,1991,14,7,4,"['13th', '13th', '13th', '8th', '3rd', '2nd', ...",318,34.0,4
33,00b28772,Nemanja-Maksimovic,Serbia,1995,6,2,1,"['4th', '5th', '8th', '15th', '15th', '16th']",162,5.0,4
...,...,...,...,...,...,...,...,...,...,...,...
9680,ff840341,Pedro-Morales,Chile,1985,11,5,4,"['1st', '1st', '1st', '1st', '6th', '11th', '9...",185,54.0,4
9683,ff8f26ef,Marc-Pedraza,Spain,1987,8,4,2,"['19th', '11th', '13th', '12th', '10th', '17th...",146,4.0,4
9687,ffacd3d5,Manuel-Sanchez,Spain,2000,5,2,1,"['2nd', '3rd', '1st', '11th', '10th', '8th']",60,1.0,4
9688,ffad706e,Javi-Lopez,Spain,1986,14,2,2,"['11th', '8th', '14th', '13th', '14th', '10th'...",290,5.0,4
9695,ffd69308,Javi-Alamo,Spain,1988,8,6,2,"['17th', '20th', '14th', '6th', '4th', '19th',...",141,8.0,4

In [21]:
nodes.to_csv('nodesForOwen.csv')

In [115]:
comsGroups = nodes.groupby(by='Community').agg({
                                                'Name': 'count',
                                                'Squad': 'mean',
                                                'Season' : 'mean',
                                                'Comp' : 'mean',
                                                'MP': 'mean'
                                                

                                                }).reset_index()
for i in range(5):
    if(i == 0):
        comsGroups.at[i, "League"] = "Bundesliga"
    elif(i == 1):
        comsGroups.at[i, "League"] = "Ligue 1"
    elif(i==2):
        comsGroups.at[i, "League"] = "Premier Leauge"
    elif(i == 3):
        comsGroups.at[i, "League"] = "Seria A"
    else:
        comsGroups.at[i, "League"] = "La Liga"


comsGroups

   Community  Name     Squad     Season      Comp          MP          League
0          0  1769  4.526286   9.972301  3.366309  194.938383      Bundesliga
1          1  2169  3.924389   8.180728  2.942831  159.240203         Ligue 1
2          2  1678  5.573302  11.806913  4.101907  264.772348  Premier Leauge
3          3  2012  5.114811   9.691352  2.906064  193.703777         Seria A
4          4  2072  4.494208   9.114382  2.953185  186.034266         La Liga

In [37]:
import random
import math

#More than 5 in weight -> Boost
#Same country -> Boost
#unique squads -> Boost


def information_cascade(G,t_tot,init): 
    # G = graph; t_tot = number of timesteps to run the model for; init = list of nodes that are activated at t=0
    
    t = 0
    highNum = 0
    
    #avg_weight = statistics.mean([e[2]['Weight'] for e in G.edges(data=True)])
    #max_weight = max([e[2]['Weight'] for e in G.edges(data=True)])
    multiplier = 0.1
    
    activation_times = {}
    for i in init:
        activation_times[i]=0
    
    while t<t_tot:
    
        curr_infectious = [n for n in activation_times if activation_times[n]==t]

        for n in curr_infectious:
            for m in G.neighbors(n):
                if m not in activation_times.keys():
                    multiplier = 0.1
                    if(G[n][m]['UniqueTeams'] > 1 ):
                        multiplier+= (0.05 * G[n][m]['UniqueTeams'])

                    if(G[n][m]['Nation1'] == G[n][m]['Nation2']):
                        multiplier+= 0.2
                        
                    p = G[n][m]['Weight']
                    if(p > 8):
                        multiplier+= 0.65
                        highNum+= 1
                    elif(p > 5):
                        multiplier+= 0.4
                        highNum+= 1
                    elif(p > 3):
                        multiplier+= 0.1
                    
                    # if p>random.uniform(0,1)*10:
                    #     activation_times[m] = t+1
                    if(multiplier >= 1):
                        #print(n, m)
                        multiplier = 0.99
                    check = math.floor( random.uniform(0, 1/(1-multiplier)))
                    # print(check, p)

                    if(check == 1):
                        activation_times[m] = t+1
                    
                        
                        
        t+=1

    return activation_times

In [38]:
def age_influence(G,t_tot,init): 
    # G = graph; t_tot = number of timesteps to run the model for; init = list of nodes that are activated at t=0
    numOlder5 = 0
    numOlder10 = 0
    t = 0
    
    #avg_weight = statistics.mean([e[2]['Weight'] for e in G.edges(data=True)])
    #max_weight = max([e[2]['Weight'] for e in G.edges(data=True)])
    multiplier = 0.1
    
    activation_times = {}
    for i in init:
        activation_times[i]=0
    
    while t<t_tot:
    
        curr_infectious = [n for n in activation_times if activation_times[n]==t]

        for n in curr_infectious:
            for m in G.neighbors(n):
                if m not in activation_times.keys():
                    multiplier = 0.1
                    if(int(G.nodes[m]['DOB']) - int(G.nodes[n]['DOB']) > 9):
                        multiplier+= 0.5
                        numOlder10+=1
                    elif(int(G.nodes[m]['DOB']) - int(G.nodes[n]['DOB']) > 4):
                        multiplier+=0.2
                        numOlder5+=1
                    
                    p = G[n][m]['Weight']
                    if(p > 8):
                        multiplier+= 0.65
                    elif(p > 5):
                        multiplier+= 0.4
                    elif(p > 3):
                        multiplier+= 0.1
                    
                    # if p>random.uniform(0,1)*10:
                    #     activation_times[m] = t+1
                    if(multiplier >= 1):
                        multiplier = 0.99
                    check = math.floor( random.uniform(0, 1/(1-multiplier)))
                    # print(check, p)

                    if(check == 1):
                        activation_times[m] = t+1
                    
                        
                        
        t+=1
    print(numOlder10, numOlder5)
    return activation_times

In [166]:
sum1 = 0
for i in degreeList[9690:]:
    sum1 += i[0]
print(sum1)

224

In [39]:
degreeList = [(G.degree(i), i) for i in G.nodes()]
degreeList.sort(reverse=True)
# print(degreeList2)
# 
# print(degreeList)
degreeList = [n for n in degreeList]

print(G.degree('1b013e33'))
print(G.degree('561de8d0'))
print(G.degree('000b3da6'))

print(G.degree('d781d855'))

print(G.degree('4cde5509'))

print(G.degree('7c0bda9b'))

print(G.degree('f4ec4fd0'))

print(G.degree('5bc43860'))
# print((degreeList))

print(G.degree('53539318'), G.degree('1b013e33'), G.degree('24a3a72c'),G.degree('3db5e0ec'), G.degree('561de8d0')) # class of 92
print(G.degree('c1b4188c'), G.degree('cfd65a29'), G.degree('d70ce98e'),G.degree('adfc9123'), G.degree('7c0bda9b')) #barca goats
print(G.degree('29733c72'), G.degree('c1b4188c'), G.degree('a1d5bd30'),G.degree('5e36a0dd'), G.degree('945dea33')) #good guys
print(G.degree('68517cfd'), G.degree('a6154613'), G.degree('69384e5d'),G.degree('561de8d0'), G.degree('5271c8f1')) #bad guys

57
77
216
73
260
76
423
44
107 57 71 73 77
87 113 176 185 76
214 87 80 127 129
151 193 131 77 149

In [52]:
print(G.degree('c1b4188c'), G.degree('cfd65a29'), G.degree('d70ce98e'),G.degree('adfc9123'), G.degree('7c0bda9b')) #barca goats
print(G.degree('68517cfd'), G.degree('a6154613'), G.degree('69384e5d'),G.degree('561de8d0'), G.degree('5271c8f1')) #bad guys
print(G.degree('29733c72'), G.degree('c1b4188c'), G.degree('a1d5bd30'),G.degree('5e36a0dd'), G.degree('945dea33')) #good guys
barcaNeighbors = []
for m in G.neighbors('c1b4188c'):
    barcaNeighbors.append(m)

for m in G.neighbors('cfd65a29'):
    barcaNeighbors.append(m)

for m in G.neighbors('d70ce98e'):
    barcaNeighbors.append(m)

for m in G.neighbors('adfc9123'):
    barcaNeighbors.append(m)

for m in G.neighbors('7c0bda9b'):
    barcaNeighbors.append(m)


badBoyz = []
for m in G.neighbors('68517cfd'):
    badBoyz.append(m)

for m in G.neighbors('a6154613'):
    badBoyz.append(m)

for m in G.neighbors('69384e5d'):
    badBoyz.append(m)

for m in G.neighbors('561de8d0'):
    badBoyz.append(m)

for m in G.neighbors('5271c8f1'):
    badBoyz.append(m)

goodBoyz = []
for m in G.neighbors('29733c72'):
    goodBoyz.append(m)

for m in G.neighbors('c1b4188c'):
    goodBoyz.append(m)

for m in G.neighbors('a1d5bd30'):
    goodBoyz.append(m)

for m in G.neighbors('5e36a0dd'):
    goodBoyz.append(m)

for m in G.neighbors('945dea33'):
    goodBoyz.append(m)

print(len(set(barcaNeighbors)), len(set(badBoyz)), len(set(goodBoyz)))

87 113 176 185 76
151 193 131 77 149
214 87 80 127 129
259 637 507

In [55]:
from random import sample
borsSum = 0
for i in range(1000):
    random_nodes = sample(list(G.nodes()), 5)
    
    for j in random_nodes:
        theBours = []
        for m in G.neighbors(j):
            theBours.append(m)
        borsSum += len(set(theBours))

In [57]:
borsSum / 1000

576.17

In [405]:
sum1 = 87  + 113 + 176 + 185 +76
sum2 = 214 + 87 + 80 + 127 +129
sum3 = 151 +193 +131+ 77+ 149
print(sum1, sum2, sum3)

637 637 701

In [442]:
from random import sample
ensembleInflu = []
degreeAvg = []
i = 0
for i in range(1000):
    random_nodes = sample(list(G.nodes()), 5)
    degsum = 0
    for j in random_nodes:
        degsum += G.degree(j)
    degreeAvg.append(degsum)
    result = ((information_cascade(G, 1, random_nodes)))
    ensembleInflu.append(result)

9d107085 9aacb284
fd51b456 2946f9a1
fb5d47b3 808d48f3
fb5d47b3 963829d0
e0d9bbbe 08b10f50
3e9e06cb d0b3ceb9
963829d0 808d48f3
963829d0 81f0781e
963829d0 fb5d47b3
2c2f117b 268df6b1
3858e611 8ec95452
9d107085 9aacb284
808d48f3 963829d0
808d48f3 fb5d47b3
27d2618c ecab64a0
ab7263c1 52465662
6ef56efd 8c8b5071
fb5d47b3 808d48f3
fb5d47b3 963829d0
c9e99e49 9d8586c4
8cabdc1e 4f2908e5
ab7263c1 52465662
9aacb284 9d107085
0acda699 a74d2999
3967d651 abb42ce6
fb5d47b3 808d48f3
fb5d47b3 963829d0
ab7263c1 52465662
da8b19e2 0bad4516
165bed61 450ad405
450ab6fc cde3309f
52465662 ab7263c1
3e9e06cb d0b3ceb9
8ec95452 3858e611
6dc73abd dc001a06
c665d49f 7ea00ab3
464cbbc9 4771114f
9d107085 9aacb284
808d48f3 963829d0
808d48f3 fb5d47b3
450ab6fc cde3309f
495945ef 9a9c05db
6dc73abd dc001a06
dc001a06 6dc73abd
52465662 ab7263c1
7ea00ab3 c665d49f
464cbbc9 4771114f
963829d0 808d48f3
963829d0 81f0781e
963829d0 fb5d47b3
6dc73abd dc001a06
7ea00ab3 c665d49f
9d107085 9aacb284

In [432]:
for i in ensembleInflu:
    print(len(i))

181
108
147
152
88
136
89
118
121
150
98
96
134
78
61
126
104
153
87
132
60
102
119
76
111
99
97
88
178
95
51
57
99
115
114
64
75
94
99
81
96
86
66
102
79
92
118
69
88
117
132
102
121
88
85
88
60
78
65
95
113
90
102
52
111
130
125
103
107
157
151
119
99
113
99
91
102
75
71
92
91
130
114
191
101
101
105
120
85
118
70
101
108
68
95
85
84
108
69
88
127
89
78
101
108
56
163
47
103
93
87
80
67
82
93
109
63
181
91
91
119
113
101
112
91
54
109
84
74
62
94
82
71
96
83
68
76
76
65
56
118
145
127
99
89
53
115
60
87
110
159
90
119
92
109
114
112
76
96
146
123
139
65
48
126
69
62
95
92
90
79
79
147
67
74
102
80
94
77
81
49
89
79
145
87
109
88
90
73
109
138
148
90
109
177
74
51
117
73
88
113
105
80
111
82
107
93
103
63
136
99
165
131
159
60
75
105
93
128
139
116
129
74
92
108
90
59
99
129
82
70
59
85
125
65
137
125
59
67
86
94
103
119
94
151
155
119
114
63
105
62
115
78
59
70
57
50
106
99
59
119
150
89
96
151
93
111
88
178
81
105
108
95
154
118
97
123
51
99
112
100
74
84
93
109
77
96
69
105
141
82
86
94
104
67
66
123
104
127
82
84
87
146
74
111
78
92
106
88
59
81
118
119
114
93
94
86
91
76
92
143
124
174
116
102
105
63
116
112
77
95
88
76
131
77
107
136
83
185
113
66
102
126
94
84
92
109
117
112
94
85
149
186
81
85
97
74
91
100
142
103
106
72
92
84
65
124
112
145
110
120
72
83
114
54
77
77
83
60
86
97
85
77
95
132
78
83
97
95
99
93
154
90
108
91
61
106
121
70
159
126
48
59
79
72
88
135
139
86
107
112
69
140
113
128
104
50
139
91
63
131
116
89
59
113
78
106
116
126
80
159
102
61
111
152
82
135
142
177
97
85
128
160
81
90
88
120
115
89
66
116
96
109
71
147
137
142
109
97
98
110
84
125
55
84
127
82
80
127
52
151
78
85
101
143
99
81
85
106
83
91
118
117
62
70
86
91
54
103
122
88
98
156
76
88
58
88
127
66
110
58
99
126
107
136
131
154
76
120
72
79
66
90
108
107
95
70
79
157
70
106
92
137
164
126
106
119
68
65
108
80
107
84
75
101
100
124
132
97
99
82
82
57
74
125
64
67
53
152
112
102
106
91
91
94
82
65
82
117
111
67
165
107
69
104
75
77
136
127
93
95
109
75
153
131
139
99
138
113
96
117
109
87
113
82
124
94
67
116
80
122
111
120
74
110
123
152
101
117
111
95
73
61
93
42
86
112
51
113
112
87
110
86
181
122
59
114
129
91
149
83
157
94
125
149
130
123
81
100
100
97
122
147
125
82
100
106
85
106
89
59
129
126
93
125
94
83
69
78
82
144
134
63
152
82
104
87
80
134
110
81
71
111
113
106
95
67
106
87
75
79
120
135
94
104
135
49
118
158
74
115
106
145
72
91
79
98
126
103
116
86
134
90
92
119
80
90
85
89
83
86
75
98
72
128
37
79
122
54
66
105
96
79
73
79
49
98
123
62
57
144
110
100
130
125
35
43
44
88
96
90
107
115
81
75
55
82
115
57
82
97
112
74
74
87
96
131
129
57
96
130
81
115
95
113
108
135
104
96
68
102
104
91
82
111
80
75
106
102
111
84
140
84
109
91
92
103
67
82
105
121
109
130
101
51
74
87
88
111
57
89
85
97
90
130
107
133
109
104
136
84
112
109
84
105
97
105
63
101
73
128
112
69
57
108
80
78
94
141
129
103
90
144
68
95
84
129
110
81
150
62
74
114
108
86
106
190
125
98
88
79
142
113
91
83
124
107
160
125
111
94
84
125
93
84
99
78
86
103
130
66
103
89
94
73
112
83
89
145
133
98
107
60
102
59
117
112
84
72
72
113
101
75
130
127
90
165
84
100
106
118
98
118
106
150
83
102
80
152
113
128
110
99
117
105
82
112
82
62
65
97
83
108
94
102
68
59
107
68
113
129
110
54
93
124
90
122
92
86
96
126
125
100
107
82
89
87
92
140
116
95
137
106
121
90
73
81
89
82
95
101
109
34
123
80
103
107
89
106
98
102
80
135
68
117
83
77
73
86
102
133
108
137
149
100
124
58
105
75
67
72
140
68
97
87
128
100
67
96
86
118
116
65
93
160
116
88
119
139
114

In [443]:
print(np.mean(ensembleInflu))
print(np.std(ensembleInflu))

print(np.mean(degreeAvg))
print(np.std(degreeAvg))

6.142
6.124364130258749
584.265
127.56752241460205

In [348]:


# result = information_cascade(G,1, ['000b3da6', '561de8d0','1b013e33'])
result1 = information_cascade(G,1, ['000b3da6']) #high number of 1's and 2's
result2 = information_cascade(G,1, ['561de8d0']) #Giggs
result3 = information_cascade(G,1, ['1b013e33']) # G Nev
result4 = information_cascade(G,1, ['4cde5509']) # Zlatan
result5 = information_cascade(G,1, ['7c0bda9b']) # Puyol
result6 = information_cascade(G,1, ['f4ec4fd0']) # Kevin Prince
result7 = information_cascade(G,1, ['5bc43860']) # Brendan Aaronsson

top10Degs = degreeList[0:10]



# print(len(result1), len(result4))
print(len(result1), len(result2), len(result3), len(result4), len(result5), len(result6), len(result7))

#top10Deg

22 16 12 43 15 37 6

In [155]:
from random import sample
ensembleInflu = []
degreeAvg = []
i = 0
for i in range(1000):
    print(i)
    random_nodes = sample(list(G.nodes()), 10)
    degsum = 0
    for j in random_nodes:
        degsum += G.degree(j)
    degreeAvg.append(degsum)
    result = len((information_cascade(G, 4, random_nodes)))
    ensembleInflu.append(result)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [156]:
print(np.mean(ensembleInflu))
print(np.std(ensembleInflu))

print(np.mean(degreeAvg))
print(np.std(degreeAvg))

9687.508
4.2054650159049
1152.6
183.45655071433126

In [154]:
top10Degs = degreeList[0:10]
bot10Degs = degreeList[9690:]
print((bot10Degs))

result = information_cascade(G,3, top10Degs) # top 10 degs
result2 = information_cascade(G,3, bot10Degs) # bot 10 degs






# print(len(result1), len(result4))
print(len(result), len(result2))

['102c9665', 'ff4d0258', '87966294', '7f94982c', '72d4922b', '01460670', '5069b796', 'd3d77413', 'c43a8336', '373791ff']
9508 4806

In [152]:
ensembleTop10= []
ensemblBottom10= []
i = 0
for i in range(100):
    print(i)
    top10Boys = len(information_cascade(G,4, top10Degs))
    bot10Boys = len(information_cascade(G, 4, bot10Degs))
    ensembleTop10.append((top10Boys))
    ensemblBottom10.append((bot10Boys))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [153]:
print(np.mean(ensembleTop10))
print(np.std(ensembleTop10))

print(np.mean(ensemblBottom10))
print(np.std(ensemblBottom10))

9690.74
3.2790852382943627
9556.81
76.13536563253635

In [4]:
result1 = age_influence(G,1, ['000b3da6']) #high number of 1's and 2's
result2 = age_influence(G,1, ['561de8d0']) #Giggs
result3 = age_influence(G,1, ['1b013e33']) # G Nev
result4 = age_influence(G,1, ['4cde5509']) # Zlatan
result5 = age_influence(G,1, ['7c0bda9b']) # Puyol
result6 = age_influence(G,1, ['f4ec4fd0']) # Kevin Prince
result7 = age_influence(G,1, ['5bc43860']) # Brendan Aaronsson
result8 = age_influence(G,1, ['d70ce98e']) # GOAT

print(len(result1), len(result2), len(result3), len(result4), len(result5), len(result6), len(result7), len(result8))

NameError: name 'G' is not defined

In [1]:
#class92 = age_influence(G,1, ['53539318', '1b013e33', '24a3a72c', '3db5e0ec', '561de8d0'])
barcaGoats = information_cascade(G,1, ['c1b4188c','cfd65a29','d70ce98e','adfc9123','7c0bda9b'])
goodGuys = information_cascade(G, 1, ['29733c72', 'c1b4188c', 'a1d5bd30','5e36a0dd', '945dea33'])
badGuys = information_cascade(G, 1, ['68517cfd','a6154613','69384e5d','561de8d0','5271c8f1'])
print((badGuys), (goodGuys), (barcaGoats))
#99 127 146
#105 130 149

NameError: name 'information_cascade' is not defined

In [72]:
goodguys = ['29733c72', 'c1b4188c', 'a1d5bd30','5e36a0dd', '945dea33']
badGuys = ['68517cfd','a6154613','69384e5d','561de8d0','5271c8f1']
barcaGoats = ['c1b4188c','cfd65a29','d70ce98e','adfc9123','7c0bda9b']
for i in barcaGoats:
    print(nameDict[i])

Xavi
Andres-Iniesta
Lionel-Messi
Gerard-Pique
Carles-Puyol

In [438]:
ensembleBad= []
ensembleGood = []
ensembleBarca = []
i = 0
for i in range(100):
    barcaGoats = information_cascade(G,1, ['c1b4188c','cfd65a29','d70ce98e','adfc9123','7c0bda9b'])
    goodGuys = information_cascade(G, 1, ['29733c72', 'c1b4188c', 'a1d5bd30','5e36a0dd', '945dea33'])
    badGuys = information_cascade(G, 1, ['68517cfd','a6154613','69384e5d','561de8d0','5271c8f1'])
    ensembleBad.append((badGuys))
    ensembleGood.append((goodGuys))
    ensembleBarca.append((barcaGoats))

In [430]:
print(np.mean(ensembleBad))
print(np.std(ensembleBad))
print()
print(np.mean(ensembleGood))
print(np.std(ensembleGood))
print()
print(np.mean(ensembleBarca))
print(np.std(ensembleBarca))

115.96
9.107052212434056

112.99
8.324055501977385

94.24
6.733676558908959

In [118]:
nameDict['561de8d0']

'Ryan-Giggs'

In [174]:
GiggsInflu = age_influence(G, 1, ["561de8d0"])
print(len(GiggsInflu))

48 21
29

In [175]:
GiggsInfluDf = pd.DataFrame(GiggsInflu.items(), columns=['ID', 'Influenced'])
GiggsInfluDf['Name'] = GiggsInfluDf['ID'].map(nameDict)
GiggsInfluDf

          ID  Influenced                Name
0   561de8d0           0          Ryan-Giggs
1   05ca4fcb           1         Nick-Powell
2   1ae30132           1       Phil-Bardsley
3   1b013e33           1        Gary-Neville
4   1b2b5b86           1     Owen-Hargreaves
5   3201b03d           1       Danny-Simpson
6   3670bd5c           1    Jonathan-Spector
7   53539318           1       David-Beckham
8   5afafbfe           1       Shinji-Kagawa
9   636f1a28           1   Anders-Lindegaard
10  688135a1           1  Danny-Higginbotham
11  7106e4fe           1          Louis-Saha
12  7ba6d84e           1        David-de-Gea
13  7f60e79c           1          Danny-Pugh
14  81d63375           1    Fraizer-Campbell
15  87575fd9           1   Marouane-Fellaini
16  88b3f52c           1        Michael-Owen
17  98ee8a67           1   Edwin-van-der-Sar
18  adfc9123           1        Gerard-Pique
19  b6964eb6           1      Chris-Smalling
20  bc7b4580           1               Fabio
21  c1a26d43           1        Carlos-Tevez
22  c444465e           1          Tim-Howard
23  d87d0dfc           1        Diego-Forlan
24  dc234f98           1     Ritchie-De-Laet
25  f0e72e1c           1       Darron-Gibson
26  f58d6213           1         Zeki-Fryers
27  fc7f8f87           1          Will-Keane
28  fdac06ea           1          Alan-Smith

In [176]:
nodes

,ID,Name,CountryFixed,DOB,Season,Squad,Comp,LgRank,MP,Gls
0,0000acda,Marco-Benassi,Italy,1994,11,6,1,"['9th', '20th', '9th', '12th', '9th', '8th', '...",216,26.0
1,000b3da6,Manuel-Iturra,Chile,1984,10,9,6,"['10th', '18th', '6th', '15th', '17th', '17th'...",234,2.0
2,001a63e0,Ozkan-Yildirim,Germany,1993,7,4,3,"['18th', '14th', '12th', '10th', '13th', '17th...",58,4.0
3,00242715,Moussa-Niakhate,France,1996,9,4,4,"['16th', '12th', '13th', '20th', '12th', '13th...",237,10.0
4,00242b75,Leandro-Barreiro-Martins,Luxembourg,2000,7,3,3,"['10th', '10th', '16th', '9th', '12th', '13th'...",150,14.0
...,...,...,...,...,...,...,...,...,...,...
9695,ffd69308,Javi-Alamo,Spain,1988,8,6,2,"['17th', '20th', '14th', '6th', '4th', '19th',...",141,8.0
9696,ffec9769,Islam-Slimani,Algeria,1988,10,7,5,"['2nd', '3rd', '2nd', '3rd', '12th', '9th', '1...",203,75.0
9697,ffed43e3,Jack-Hendry,Scotland,1995,9,10,6,"['8th', '9th', '20th', '1st', '23rd', '12th', ...",112,3.0
9698,fff10a46,Danny-Guthrie,England,1987,13,8,3,"['6th', '3rd', '16th', '18th', '1st', '12th', ...",277,14.0
9699,fffea3e5,Jeremy-Doku,Belgium,2002,5,2,2,"['6th', '8th', '4th', '6th', '4th', '6th']",84,8.0

In [177]:

GiggsInfluDf = GiggsInfluDf.merge(nodes, left_on="ID", right_on="ID", how='left')
GiggsInfluDf

,ID,Influenced,Name_x,Name_y,CountryFixed,DOB,Season,Squad,Comp,LgRank,MP,Gls
0,561de8d0,0,Ryan-Giggs,Ryan-Giggs,Wales,1973,22,1,1,"['1st', '1st', '2nd', '1st', '1st', '2nd', '1s...",632,109.0
1,05ca4fcb,1,Nick-Powell,Nick-Powell,England,1994,13,6,5,"['10th', '7th', '1st', '5th', '14th', '5th', '...",277,74.0
2,1ae30132,1,Phil-Bardsley,Phil-Bardsley,Scotland,1985,18,9,4,"['18th', '2nd', '17th', '11th', '2nd', '9th', ...",337,8.0
3,1b013e33,1,Gary-Neville,Gary-Neville,England,1975,17,1,1,"['1st', '2nd', '1st', '1st', '2nd', '1st', '1s...",400,5.0
4,1b2b5b86,1,Owen-Hargreaves,Owen-Hargreaves,England,1981,12,3,2,"['1st', '3rd', '1st', '2nd', '1st', '1st', '4t...",173,7.0
5,3201b03d,1,Danny-Simpson,Danny-Simpson,England,1987,16,9,3,"['1st', '1st', '8th', '15th', '1st', '12th', '...",345,1.0
6,3670bd5c,1,Jonathan-Spector,Jonathan-Spector,United States,1986,16,6,4,"['3rd', '13th', '15th', '10th', '9th', '17th',...",316,2.0
7,53539318,1,David-Beckham,David-Beckham,England,1975,22,5,5,"['2nd', '1st', '1st', '2nd', '1st', '1st', '1s...",517,95.0
8,5afafbfe,1,Shinji-Kagawa,Shinji-Kagawa,Japan,1989,13,6,6,"['1st', '1st', '1st', '7th', '4th', '7th', '2n...",252,56.0
9,636f1a28,1,Anders-Lindegaard,Anders-Lindegaard,Denmark,1984,16,7,6,"['4th', '4th', '13th', '2nd', '4th', '2nd', '1...",163,1.0
10,688135a1,1,Danny-Higginbotham,Danny-Higginbotham,Gibraltar,1978,16,9,5,"['2nd', '1st', '17th', '19th', '18th', '8th', ...",363,23.0
11,7106e4fe,1,Louis-Saha,Louis-Saha,France,1978,15,8,3,"['2nd', '13th', '10th', '11th', '13th', '14th'...",341,90.0
12,7ba6d84e,1,David-de-Gea,David-de-Gea,Spain,1990,14,2,2,"['9th', '7th', '2nd', '1st', '7th', '4th', '5t...",442,0.0
13,7f60e79c,1,Danny-Pugh,Danny-Pugh,England,1982,17,9,4,"['1st', '14th', '5th', '7th', '15th', '2nd', '...",359,17.0
14,81d63375,1,Fraizer-Campbell,Fraizer-Campbell,England,1987,15,7,2,"['3rd', '1st', '1st', '8th', '13th', '10th', '...",363,68.0
15,87575fd9,1,Marouane-Fellaini,Marouane-Fellaini,Belgium,1987,17,4,3,"['3rd', '1st', '1st', '5th', '8th', '7th', '7t...",394,72.0
16,88b3f52c,1,Michael-Owen,Michael-Owen,England,1979,17,5,2,"['4th', '3rd', '7th', '4th', '3rd', '2nd', '5t...",362,162.0
17,98ee8a67,1,Edwin-van-der-Sar,Edwin-van-der-Sar,Netherlands,1970,12,3,2,"['2nd', '2nd', '13th', '14th', '9th', '13th', ...",379,0.0
18,adfc9123,1,Gerard-Pique,Gerard-Pique,Spain,1987,18,3,2,"['2nd', '6th', '1st', '1st', '1st', '1st', '2n...",428,31.0
19,b6964eb6,1,Chris-Smalling,Chris-Smalling,England,1989,15,3,2,"['7th', '12th', '1st', '2nd', '1st', '7th', '4...",301,21.0
20,bc7b4580,1,Fabio,Fabio,Brazil,1990,14,5,4,"['2nd', '1st', '2nd', '20th', '7th', '20th', '...",240,3.0
21,c1a26d43,1,Carlos-Tevez,Carlos-Tevez,Argentina,1984,16,6,4,"['15th', '1st', '1st', '5th', '3rd', '1st', '2...",366,158.0
22,c444465e,1,Tim-Howard,Tim-Howard,United States,1979,24,5,3,"['6th', '12th', '3rd', '6th', '9th', '5th', '3...",590,1.0
23,d87d0dfc,1,Diego-Forlan,Diego-Forlan,Uruguay,1979,14,7,6,"['3rd', '1st', '3rd', '3rd', '3rd', '7th', '5t...",378,159.0
24,dc234f98,1,Ritchie-De-Laet,Ritchie-De-Laet,Belgium,1988,15,11,7,"['10th', '1st', '2nd', '23rd', '22nd', '16th',...",312,13.0
25,f0e72e1c,1,Darron-Gibson,Darron-Gibson,Ireland,1987,14,6,3,"['7th', '1st', '2nd', '1st', '2nd', '6th', '5t...",145,5.0
26,f58d6213,1,Zeki-Fryers,Zeki-Fryers,England,1992,10,9,6,"['2nd', '4th', '6th', '21st', '10th', '6th', '...",102,2.0
27,fc7f8f87,1,Will-Keane,Will-Keane,Ireland,1993,11,7,3,"['2nd', '4th', '5th', '13th', '4th', '5th', '1...",194,53.0
28,fdac06ea,1,Alan-Smith,Alan-Smith,England,1980,20,5,4,"['4th', '3rd', '4th', '5th', '15th', '19th', '...",470,48.0

In [178]:
GiggsInfluDf['Age'] = 2022 - GiggsInfluDf['DOB'].astype(int)

In [179]:
GiggsInfluDf = GiggsInfluDf[['ID', 'Name_x', 'CountryFixed', 'Age']]
GiggsInfluDf[GiggsInfluDf['Age'] < 40]
borb = []
for i in GiggsInfluDf['ID']:
    borb.append(G.degree(i))
GiggsInfluDf['Degree'] = borb

C:\Users\User\AppData\Local\Temp\ipykernel_29452\505561324.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mendyRapeGxng['Degree'] = borb

In [180]:
GiggsInfluDf

          ID              Name_x   CountryFixed  Age  Degree
0   561de8d0          Ryan-Giggs          Wales   49      77
1   05ca4fcb         Nick-Powell        England   28     191
2   1ae30132       Phil-Bardsley       Scotland   37     226
3   1b013e33        Gary-Neville        England   47      57
4   1b2b5b86     Owen-Hargreaves        England   41      87
5   3201b03d       Danny-Simpson        England   35     254
6   3670bd5c    Jonathan-Spector  United States   36     146
7   53539318       David-Beckham        England   47     107
8   5afafbfe       Shinji-Kagawa          Japan   33     183
9   636f1a28   Anders-Lindegaard        Denmark   38     129
10  688135a1  Danny-Higginbotham      Gibraltar   44     112
11  7106e4fe          Louis-Saha         France   44     162
12  7ba6d84e        David-de-Gea          Spain   32     149
13  7f60e79c          Danny-Pugh        England   40     122
14  81d63375    Fraizer-Campbell        England   35     264
15  87575fd9   Marouane-Fellaini        Belgium   35     146
16  88b3f52c        Michael-Owen        England   43     127
17  98ee8a67   Edwin-van-der-Sar    Netherlands   52      61
18  adfc9123        Gerard-Pique          Spain   35     185
19  b6964eb6      Chris-Smalling        England   33     175
20  bc7b4580               Fabio         Brazil   32     235
21  c1a26d43        Carlos-Tevez      Argentina   38     171
22  c444465e          Tim-Howard  United States   43     104
23  d87d0dfc        Diego-Forlan        Uruguay   43     120
24  dc234f98     Ritchie-De-Laet        Belgium   34     233
25  f0e72e1c       Darron-Gibson        Ireland   35     164
26  f58d6213         Zeki-Fryers        England   30     166
27  fc7f8f87          Will-Keane        Ireland   29     198
28  fdac06ea          Alan-Smith        England   42     112

In [183]:
under40 = GiggsInfluDf[GiggsInfluDf['Age'] < 40]

In [193]:
under40.reset_index()

    index        ID             Name_x   CountryFixed  Age  Degree
0       1  05ca4fcb        Nick-Powell        England   28     191
1       2  1ae30132      Phil-Bardsley       Scotland   37     226
2       5  3201b03d      Danny-Simpson        England   35     254
3       6  3670bd5c   Jonathan-Spector  United States   36     146
4       8  5afafbfe      Shinji-Kagawa          Japan   33     183
5       9  636f1a28  Anders-Lindegaard        Denmark   38     129
6      12  7ba6d84e       David-de-Gea          Spain   32     149
7      14  81d63375   Fraizer-Campbell        England   35     264
8      15  87575fd9  Marouane-Fellaini        Belgium   35     146
9      18  adfc9123       Gerard-Pique          Spain   35     185
10     19  b6964eb6     Chris-Smalling        England   33     175
11     20  bc7b4580              Fabio         Brazil   32     235
12     21  c1a26d43       Carlos-Tevez      Argentina   38     171
13     24  dc234f98    Ritchie-De-Laet        Belgium   34     233
14     25  f0e72e1c      Darron-Gibson        Ireland   35     164
15     26  f58d6213        Zeki-Fryers        England   30     166
16     27  fc7f8f87         Will-Keane        Ireland   29     198

In [191]:
under40[['ID', 'Name_x', 'CountryFixed', 'Age', 'Degree']]

          ID             Name_x   CountryFixed  Age  Degree
1   05ca4fcb        Nick-Powell        England   28     191
2   1ae30132      Phil-Bardsley       Scotland   37     226
5   3201b03d      Danny-Simpson        England   35     254
6   3670bd5c   Jonathan-Spector  United States   36     146
8   5afafbfe      Shinji-Kagawa          Japan   33     183
9   636f1a28  Anders-Lindegaard        Denmark   38     129
12  7ba6d84e       David-de-Gea          Spain   32     149
14  81d63375   Fraizer-Campbell        England   35     264
15  87575fd9  Marouane-Fellaini        Belgium   35     146
18  adfc9123       Gerard-Pique          Spain   35     185
19  b6964eb6     Chris-Smalling        England   33     175
20  bc7b4580              Fabio         Brazil   32     235
21  c1a26d43       Carlos-Tevez      Argentina   38     171
24  dc234f98    Ritchie-De-Laet        Belgium   34     233
25  f0e72e1c      Darron-Gibson        Ireland   35     164
26  f58d6213        Zeki-Fryers        England   30     166
27  fc7f8f87         Will-Keane        Ireland   29     198

In [290]:
for i in G.nodes():

    if G.nodes[i]['DOB'] == 'na Na':
        print('hi')
        print(i)
        G.nodes[i]['DOB'] = 1990

hi
29d80748

In [295]:
influenceListVal = []
influenceName = []

for i in G.nodes():
    # G.nodes[i]['DOB'] = int(G.nodes[i]['DOB'])
    
    reach = age_influence(G, 1, [i])
    influenceListVal.append(len(reach) - 1)
    influenceName.append(i)

He is my master
He is my master
He is my master
He is my master
He is my master
He is my master
He is my master
He is my master
He is my master
He is my master
He is my master

In [296]:
influeDf = pd.DataFrame()
influeDf['ID'] = influenceName
influeDf['InfluenceCount'] = influenceListVal
influeDf["Name"] = influeDf['ID'].map(nameDict)

In [306]:
influeDf.sort_values(by='InfluenceCount', ascending=False)[0:30]
influeDf.describe()

       InfluenceCount
count     9700.000000
mean        17.696082
std         12.732029
min          0.000000
25%          8.000000
50%         15.000000
75%         24.000000
max        109.000000

In [240]:



degrees = [G.degree(n, weight="Weight") for n in G.nodes()]
degreesNonWeight = [G.degree(n) for n in G.nodes()]
nodesList = [n for n in G.nodes()]
degreeRatio = []
degreeNames = []
degreeSeasons = []
degreeComp = []
degreeSquad = []
numPlayers = []
numSeasonsPlayers = []
j = 0
for i in degrees:
    # if(i > 550):
    # degreeNames.append(G.nodes[nodesList[j]]["Name"] + " " + G.nodes[nodesList[j]]["DOB"] + " Weighted Num Seasons " + str(degrees[j]) + " Num Players " + str(degreesNonWeight[j]) + " Ratio (PlayedWithSeasons : TotalPlayedWith " + str(degrees[j] / degreesNonWeight[j])) 
    degreeNames.append(G.nodes[nodesList[j]]["Name"])
    degreeSeasons.append(G.nodes[nodesList[j]]["Season"])
    degreeComp.append(G.nodes[nodesList[j]]["Comp"])
    degreeSquad.append(G.nodes[nodesList[j]]["Squad"])
    degreeRatio.append(degreesNonWeight[j] / degrees[j])
    numSeasonsPlayers.append((degrees[j]))
    numPlayers.append(degreesNonWeight[j])

    j+=1

df2 = pd.DataFrame(degreeNames, columns=['Name'])
df2["Ratio"] = degreeRatio
df2["Total_Players"] = numPlayers
df2["Total_Seasons"] = numSeasonsPlayers
df2["Season"] = degreeSeasons
df2["Comp"] = degreeComp
df2["Squad"] = degreeSquad
df2["NewPlayers/Season"] = df2["Total_Players"] / df2["Season"]
df2["NewPlayers/Squad"] = df2["Total_Players"] / df2["Squad"]
df2["NewPlayers/Comp"] = df2["Total_Players"] / df2["Comp"]
df2.sort_values(["Ratio"])

,Name,Ratio,Total_Players,Total_Seasons,Season,Comp,Squad,NewPlayers/Season,NewPlayers/Squad,NewPlayers/Comp
3279,Ryan-Giggs,0.234756,77,328,22,1,1,3.500000,77.00,77.0
7300,Iker-Muniain,0.238227,86,361,14,1,1,6.142857,86.00,86.0
1395,Paul-Scholes,0.238255,71,298,19,1,1,3.736842,71.00,71.0
6091,Oscar-de-Marcos,0.245902,90,366,15,2,2,6.000000,45.00,45.0
4029,Carlos-Gurpegui,0.248908,57,229,14,1,1,4.071429,57.00,57.0
...,...,...,...,...,...,...,...,...,...,...
766,Dorian-Caddy,1.000000,63,63,4,2,4,15.750000,15.75,31.5
2431,Jean-Ambrose,1.000000,36,36,2,2,2,18.000000,18.00,18.0
2455,Fabio-Della-Giovanna,1.000000,87,87,3,2,3,29.000000,29.00,43.5
2032,Sergio-Segura-Garcia,1.000000,28,28,1,1,1,28.000000,28.00,28.0
2782,Abdel-Jalil-Medioub,1.000000,43,43,2,2,2,21.500000,21.50,21.5

In [ ]:
LowRatioPlayers = df2[df2["Ratio"] < .35]
LowRatioPlayers = LowRatioPlayers[LowRatioPlayers["Squad"] < 3]
LowRatioPlayers

In [16]:
nation1 = []
nation2 = []
for index, row in edgesDf.iterrows():
  nation1.append(row["Nation1"])
  nation2.append(row["Nation2"])

In [17]:
pd.DataFrame(nation1, columns=['q_data'])

countryPairs = pd.DataFrame(nation1, columns = ['Nation1'])
countryPairs["Nation2"] = nation2
countryPairs["Name1"] = edgesDf["Name1"]
countryPairs["Name2"] = edgesDf["Name2"]

countryEdges = countryPairs.groupby(["Nation1", "Nation2"]).agg({
                                                'Name1' : 'count'
                                                }).reset_index()
countryEdges = countryEdges.sort_values('Name1', ascending=False)
countryEdges = countryEdges.reset_index()

countryEdges2 = countryPairs.groupby(["Nation2", "Nation1"]).agg({
                                                'Name1' : 'count'
                                                }).reset_index()
countryEdges2 = countryEdges2.sort_values('Name1', ascending=False)
countryEdges2 = countryEdges2.reset_index()

In [18]:
countryPairs['nationcomb'] = countryPairs.apply(lambda x: list([x['Nation1'], x['Nation2']]), axis=1)
countryPairs

,Nation1,Nation2,Name1,Name2,nationcomb
0,Luxembourg,France,Leandro-Barreiro-Martins,Moussa-Niakhate,"[Luxembourg, France]"
1,Austria,Germany,Marko-Arnautovic,Ozkan-Yildirim,"[Austria, Germany]"
2,Algeria,Sweden,Zinedine-Ferhat,Niclas-Eliasson,"[Algeria, Sweden]"
3,Cuba,Germany,Onel-Hernandez,Ozkan-Yildirim,"[Cuba, Germany]"
4,Benin,France,Cedric-Hountondji,Lucas-Da-Cunha,"[Benin, France]"
...,...,...,...,...,...
560411,Belgium,Ireland,Jeremy-Doku,Josh-Cullen,"[Belgium, Ireland]"
560412,Belgium,Serbia,Jeremy-Doku,Ivan-Obradovic,"[Belgium, Serbia]"
560413,Belgium,Democratic Republic of the Congo,Jeremy-Doku,Edo-Kayembe,"[Belgium, Democratic Republic of the Congo]"
560414,Belgium,Croatia,Jeremy-Doku,Lovro-Majer,"[Belgium, Croatia]"
560415,Belgium,France,Jeremy-Doku,Dennis-Appiah,"[Belgium, France]"

In [19]:
countryPairs['nationcomb'] = countryPairs['nationcomb'].apply(lambda x: sorted(list(x)))
countryPairs

,Nation1,Nation2,Name1,Name2,nationcomb
0,Luxembourg,France,Leandro-Barreiro-Martins,Moussa-Niakhate,"[France, Luxembourg]"
1,Austria,Germany,Marko-Arnautovic,Ozkan-Yildirim,"[Austria, Germany]"
2,Algeria,Sweden,Zinedine-Ferhat,Niclas-Eliasson,"[Algeria, Sweden]"
3,Cuba,Germany,Onel-Hernandez,Ozkan-Yildirim,"[Cuba, Germany]"
4,Benin,France,Cedric-Hountondji,Lucas-Da-Cunha,"[Benin, France]"
...,...,...,...,...,...
560411,Belgium,Ireland,Jeremy-Doku,Josh-Cullen,"[Belgium, Ireland]"
560412,Belgium,Serbia,Jeremy-Doku,Ivan-Obradovic,"[Belgium, Serbia]"
560413,Belgium,Democratic Republic of the Congo,Jeremy-Doku,Edo-Kayembe,"[Belgium, Democratic Republic of the Congo]"
560414,Belgium,Croatia,Jeremy-Doku,Lovro-Majer,"[Belgium, Croatia]"
560415,Belgium,France,Jeremy-Doku,Dennis-Appiah,"[Belgium, France]"

In [20]:
countryEdges = countryPairs.groupby(countryPairs['nationcomb'].map(tuple)).agg({
                                                'Name1' : 'count',

                                                }).reset_index()
countryEdges

countryEdges = countryEdges.sort_values('Name1', ascending=False)
countryEdges= countryEdges.reset_index()

nations = []

for index, row in countryEdges.iterrows():
  nations.append(row["nationcomb"])

nations

[('Spain', 'Spain'),
 ('Italy', 'Italy'),
 ('France', 'France'),
 ('Germany', 'Germany'),
 ('England', 'England'),
 ('Argentina', 'Spain'),
 ('Brazil', 'Italy'),
 ('Argentina', 'Italy'),
 ('Brazil', 'Spain'),
 ('France', 'Senegal'),
 ('France', 'Spain'),
 ('England', 'Ireland'),
 ('Brazil', 'France'),
 ('France', 'Italy'),
 ('England', 'France'),
 ('Portugal', 'Spain'),
 ('Italy', 'Spain'),
 ('England', 'Scotland'),
 ('France', 'Mali'),
 ('England', 'Spain'),
 ('France', 'Ivory Coast'),
 ('Spain', 'Uruguay'),
 ('Italy', 'Uruguay'),
 ('England', 'Wales'),
 ('Austria', 'Germany'),
 ('Brazil', 'Brazil'),
 ('Algeria', 'France'),
 ('Cameroon', 'France'),
 ('Argentina', 'Argentina'),
 ('France', 'Germany'),
 ('France', 'Morocco'),
 ('Argentina', 'France'),
 ('Italy', 'Serbia'),
 ('Brazil', 'Germany'),
 ('Croatia', 'Italy'),
 ('France', 'Portugal'),
 ('England', 'Netherlands'),
 ('Germany', 'Netherlands'),
 ('Germany', 'Switzerland'),
 ('Argentina', 'Brazil'),
 ('Serbia', 'Spain'),
 ('Belgium', 'France'),
 ('Colombia', 'Spain'),
 ('Germany', 'Spain'),
 ('France', 'Guinea'),
 ('Italy', 'Poland'),
 ('Democratic Republic of the Congo', 'France'),
 ('Ghana', 'Italy'),
 ('Italy', 'Switzerland'),
 ('Germany', 'Turkey'),
 ('Italy', 'Slovenia'),
 ('England', 'Germany'),
 ('Netherlands', 'Netherlands'),
 ('Italy', 'Portugal'),
 ('Italy', 'Senegal'),
 ('Brazil', 'Portugal'),
 ('Croatia', 'Germany'),
 ('Brazil', 'England'),
 ('Denmark', 'Germany'),
 ('Morocco', 'Spain'),
 ('Italy', 'Netherlands'),
 ('Senegal', 'Spain'),
 ('Italy', 'Romania'),
 ('France', 'Tunisia'),
 ('France', 'Netherlands'),
 ('Netherlands', 'Spain'),
 ('Colombia', 'Italy'),
 ('England', 'Portugal'),
 ('France', 'Serbia'),
 ('Portugal', 'Portugal'),
 ('Germany', 'United States'),
 ('Germany', 'Italy'),
 ('Albania', 'Italy'),
 ('Argentina', 'England'),
 ('Belgium', 'England'),
 ('England', 'Northern Ireland'),
 ('France', 'Republic of the Congo'),
 ('Italy', 'Sweden'),
 ('Chile', 'Italy'),
 ('Ghana', 'Spain'),
 ('Nigeria', 'Spain'),
 ('Germany', 'Poland'),
 ('Italy', 'Nigeria'),
 ('Czech Republic', 'Germany'),
 ('England', 'Nigeria'),
 ('England', 'Jamaica'),
 ('England', 'Italy'),
 ('Italy', 'Morocco'),
 ('Germany', 'Serbia'),
 ('Cameroon', 'Spain'),
 ('Greece', 'Italy'),
 ('Germany', 'Japan'),
 ('Croatia', 'Spain'),
 ('France', 'Ghana'),
 ('Argentina', 'Uruguay'),
 ('Belgium', 'Italy'),
 ('France', 'Switzerland'),
 ('Argentina', 'Portugal'),
 ('England', 'United States'),
 ('Spain', 'Venezuela'),
 ('Chile', 'Spain'),
 ('England', 'Senegal'),
 ('Denmark', 'Italy'),
 ('Belgium', 'Germany'),
 ('Ivory Coast', 'Spain'),
 ('Italy', 'Ivory Coast'),
 ('Italy', 'Slovakia'),
 ('Denmark', 'England'),
 ('Bosnia and Herzegovina', 'Italy'),
 ('Germany', 'Greece'),
 ('Mexico', 'Spain'),
 ('Germany', 'Ghana'),
 ('Belgium', 'Spain'),
 ('England', 'Ivory Coast'),
 ('Denmark', 'Spain'),
 ('France', 'Nigeria'),
 ('Bosnia and Herzegovina', 'Germany'),
 ('Germany', 'Norway'),
 ('France', 'Gabon'),
 ('Denmark', 'France'),
 ('Algeria', 'Spain'),
 ('France', 'Poland'),
 ('France', 'Uruguay'),
 ('France', 'Togo'),
 ('Germany', 'Nigeria'),
 ('Brazil', 'Netherlands'),
 ('Germany', 'Portugal'),
 ('England', 'Norway'),
 ('Czech Republic', 'Italy'),
 ('Croatia', 'France'),
 ('England', 'Ghana'),
 ('Algeria', 'Italy'),
 ('Germany', 'Sweden'),
 ('Argentina', 'Germany'),
 ('Colombia', 'France'),
 ('France', 'Guadeloupe'),
 ('Brazil', 'Uruguay'),
 ('Burkina Faso', 'France'),
 ('Brazil', 'Serbia'),
 ('Benin', 'France'),
 ('France', 'Sweden'),
 ('France', 'Turkey'),
 ('England', 'Sweden'),
 ('Democratic Republic of the Congo', 'England'),
 ('Brazil', 'Senegal'),
 ('Belgium', 'Brazil'),
 ('Argentina', 'Netherlands'),
 ('Australia', 'England'),
 ('Brazil', 'Croatia'),
 ('Paraguay', 'Spain'),
 ('Belgium', 'Belgium'),
 ('Switzerland', 'Switzerland'),
 ('Greece', 'Spain'),
 ('Germany', 'South Korea'),
 ('Argentina', 'Serbia'),
 ('England', 'Switzerland'),
 ('Cameroon', 'Germany'),
 ('Germany', 'Hungary'),
 ('France', 'United States'),
 ('Denmark', 'Denmark'),
 ('Austria', 'Italy'),
 ('Germany', 'Tunisia'),
 ('Uruguay', 'Uruguay'),
 ('Belgium', 'Netherlands'),
 ('Brazil', 'Colombia'),
 ('Italy', 'Paraguay'),
 ('Brazil', 'Switzerland'),
 ('Serbia', 'Serbia'),
 ('Argentina', 'Colombia'),
 ('Germany', 'Ivory Coast'),
 ('Ireland', 'Scotland'),
 ('Denmark', 'Netherlands'),
 ('Japan', 'Spain'),
 ('England', 'Mali'),
 ('Brazil', 'Ivory Coast'),
 ('Spain', 'Turkey'),
 ('Germany', 'Slovakia'),
 ('Croatia', 'England'),
 ('France', 'Madagascar'),
 ('France', 'Martinique'),
 ('Comoros', 'France'),
 ('Poland', 'Spain'),
 ('England', 'Poland'),
 ('France', 'Norway'),
 ('Germany', 'Senegal'),
 ('Romania', 'Spain'),
 ('Croatia', 'Croatia'),
 ('Austria', 'England'),
 ('France', 'Romania'),
 ('Hungary', 'Italy'),
 ('Cameroon', 'England'),
 ('Germany', 'Morocco'),
 ('France', 'Greece'),
 ('Bosnia and Herzegovina', 'France'),
 ('England', 'Serbia'),
 ('Democratic Republic of the Congo', 'Germany'),
 ('Bosnia and Herzegovina', 'Spain'),
 ('Czech Republic', 'France'),
 ('Algeria', 'England'),
 ('Spain', 'United States'),
 ('Italy', 'Mali'),
 ('Spain', 'Sweden'),
 ('Argentina', 'Chile'),
 ('Germany', 'Kosovo'),
 ('Netherlands', 'Portugal'),
 ('Montenegro', 'Spain'),
 ('Cape Verde', 'France'),
 ('Austria', 'France'),
 ('Bulgaria', 'Italy'),
 ('Czech Republic', 'England'),
 ('Italy', 'Montenegro'),
 ('Argentina', 'Croatia'),
 ('Scotland', 'Spain'),
 ('Brazil', 'Morocco'),
 ('Mali', 'Senegal'),
 ('Ireland', 'Wales'),
 ('Argentina', 'Senegal'),
 ('Brazil', 'Ghana'),
 ('Mali', 'Spain'),
 ('Brazil', 'Nigeria'),
 ('France', 'Guinea-Bissau'),
 ('Iceland', 'Italy'),
 ('Ecuador', 'Spain'),
 ('Italy', 'Turkey'),
 ('Italy', 'Norway'),
 ('Cameroon', 'Italy'),
 ('Italy', 'Venezuela'),
 ('Albania', 'Spain'),
 ('Democratic Republic of the Congo', 'Spain'),
 ('England', 'Morocco'),
 ('France', 'Haiti'),
 ('Brazil', 'Poland'),
 ('Brazil', 'Mali'),
 ('Algeria', 'Brazil'),
 ('Germany', 'Slovenia'),
 ('England', 'Greece'),
 ('Equatorial Guinea', 'Spain'),
 ('France', 'Ireland'),
 ('Australia', 'Germany'),
 ('Ireland', 'Ireland'),
 ('France', 'Mauritania'),
 ('France', 'Japan'),
 ('Netherlands', 'Serbia'),
 ('Brazil', 'Denmark'),
 ('Scotland', 'Wales'),
 ('England', 'Uruguay'),
 ('Portugal', 'Serbia'),
 ('Brazil', 'Turkey'),
 ('Ivory Coast', 'Senegal'),
 ('Brazil', 'Cameroon'),
 ('England', 'Iceland'),
 ('Morocco', 'Netherlands'),
 ('Gambia', 'Italy'),
 ('Austria', 'Austria'),
 ('Guinea', 'Italy'),
 ('Argentina', 'Belgium'),
 ('Brazil', 'Chile'),
 ('France', 'Scotland'),
 ('Argentina', 'Ivory Coast'),
 ('Finland', 'Germany'),
 ('Argentina', 'Morocco'),
 ('Ireland', 'Spain'),
 ('France', 'Slovenia'),
 ('Spain', 'Wales'),
 ('Argentina', 'Switzerland'),
 ('France', 'French Guiana'),
 ('Portugal', 'Senegal'),
 ('Finland', 'Italy'),
 ('Netherlands', 'Sweden'),
 ('Scotland', 'Scotland'),
 ('France', 'Wales'),
 ('Portugal', 'Uruguay'),
 ('Cameroon', 'Senegal'),
 ('Argentina', 'Ghana'),
 ('Colombia', 'England'),
 ('Spain', 'Ukraine'),
 ('England', 'Turkey'),
 ('Spain', 'Switzerland'),
 ('Belgium', 'Senegal'),
 ('Albania', 'Germany'),
 ('Colombia', 'Germany'),
 ('Austria', 'Brazil'),
 ('Algeria', 'Senegal'),
 ('Guinea', 'Spain'),
 ('Senegal', 'Senegal'),
 ('Belgium', 'Portugal'),
 ('Brazil', 'Greece'),
 ('Argentina', 'Nigeria'),
 ('Argentina', 'Paraguay'),
 ('Norway', 'Spain'),
 ('Brazil', 'Sweden'),
 ('Ivory Coast', 'Portugal'),
 ('France', 'South Korea'),
 ('Belgium', 'Serbia'),
 ('Morocco', 'Senegal'),
 ('Cape Verde', 'Spain'),
 ('Croatia', 'Portugal'),
 ('Brazil', 'Romania'),
 ('Denmark', 'Sweden'),
 ('Netherlands', 'Switzerland'),
 ('Italy', 'Tunisia'),
 ('Germany', 'Peru'),
 ('Morocco', 'Portugal'),
 ('France', 'South Africa'),
 ('Austria', 'Netherlands'),
 ('Italy', 'Macedonia'),
 ('Costa Rica', 'Spain'),
 ('Ivory Coast', 'Netherlands'),
 ('Slovakia', 'Spain'),
 ('Poland', 'Poland'),
 ('Algeria', 'Germany'),
 ('England', 'South Korea'),
 ('Australia', 'Italy'),
 ('Argentina', 'Poland'),
 ('Italy', 'Peru'),
 ('Argentina', 'Denmark'),
 ('Argentina', 'Greece'),
 ('England', 'Israel'),
 ('Ivory Coast', 'Mali'),
 ('Austria', 'Switzerland'),
 ('Albania', 'France'),
 ('Israel', 'Spain'),
 ('Austria', 'Spain'),
 ('Central African Republic', 'France'),
 ('Czech Republic', 'Spain'),
 ('Sweden', 'Sweden'),
 ('Chile', 'Germany'),
 ('Colombia', 'Portugal'),
 ('Bosnia and Herzegovina', 'England'),
 ('Croatia', 'Netherlands'),
 ('Greece', 'Greece'),
 ('Ireland', 'Netherlands'),
 ('Brazil', 'Czech Republic'),
 ('Canada', 'England'),
 ('Argentina', 'Cameroon'),
 ('Czech Republic', 'Czech Republic'),
 ('Italy', 'Scotland'),
 ('Argentina', 'Romania'),
 ('England', 'Finland'),
 ('Nigeria', 'Portugal'),
 ('England', 'Hungary'),
 ('Senegal', 'Serbia'),
 ('Martinique', 'Spain'),
 ('Croatia', 'Switzerland'),
 ('Brazil', 'United States'),
 ('Belgium', 'Nigeria'),
 ('Netherlands', 'Scotland'),
 ('Germany', 'Ukraine'),
 ('Democratic Republic of the Congo', 'Senegal'),
 ('Nigeria', 'Senegal'),
 ('France', 'Venezuela'),
 ('Netherlands', 'Nigeria'),
 ('Italy', 'Japan'),
 ('Belgium', 'Ivory Coast'),
 ('Bosnia and Herzegovina', 'Brazil'),
 ('Cameroon', 'Mali'),
 ('Argentina', 'Sweden'),
 ('Netherlands', 'Norway'),
 ('Chile', 'France'),
 ('Greece', 'Portugal'),
 ('Croatia', 'Serbia'),
 ('Italy', 'Kosovo'),
 ('Belgium', 'Democratic Republic of the Congo'),
 ('Equatorial Guinea', 'Italy'),
 ('Curacao', 'England'),
 ('Algeria', 'Mali'),
 ('Russia', 'Spain'),
 ('Poland', 'Serbia'),
 ('Portugal', 'Switzerland'),
 ('Belgium', 'Croatia'),
 ('Egypt', 'England'),
 ('Turkey', 'Turkey'),
 ('Portugal', 'Turkey'),
 ('Peru', 'Spain'),
 ('Norway', 'Norway'),
 ('Algeria', 'Argentina'),
 ('Germany', 'Guinea'),
 ('Democratic Republic of the Congo', 'Italy'),
 ('Netherlands', 'Senegal'),
 ('England', 'Romania'),
 ('Argentina', 'Mexico'),
 ('Algeria', 'Portugal'),
 ('Netherlands', 'Poland'),
 ('Cameroon', 'Netherlands'),
 ('Serbia', 'Uruguay'),
 ('England', 'New Zealand'),
 ('Ghana', 'Portugal'),
 ('Algeria', 'Ivory Coast'),
 ('Australia', 'Spain'),
 ('Netherlands', 'United States'),
 ('Ivory Coast', 'Switzerland'),
 ('Argentina', 'Slovenia'),
 ('Mali', 'Portugal'),
 ('Slovenia', 'Spain'),
 ('Italy', 'United States'),
 ('Ivory Coast', 'Morocco'),
 ('Chile', 'England'),
 ('Mali', 'Morocco'),
 ('Cameroon', 'Ivory Coast'),
 ('Brazil', 'Democratic Republic of the Congo'),
 ('Ghana', 'Senegal'),
 ('Netherlands', 'Wales'),
 ('Brazil', 'Paraguay'),
 ('Brazil', 'Slovenia'),
 ('Ivory Coast', 'Serbia'),
 ('Cameroon', 'Portugal'),
 ('Netherlands', 'Turkey'),
 ('South Korea', 'Spain'),
 ('Colombia', 'Netherlands'),
 ('Macedonia', 'Spain'),
 ('Germany', 'Russia'),
 ('Ireland', 'Northern Ireland'),
 ('Germany', 'Paraguay'),
 ('Serbia', 'Switzerland'),
 ('Germany', 'Macedonia'),
 ('France', 'Montenegro'),
 ('Argentina', 'Mali'),
 ('Cameroon', 'Morocco'),
 ('Germany', 'Romania'),
 ('Brazil', 'Japan'),
 ('Austria', 'Denmark'),
 ('Ghana', 'Netherlands'),
 ('Belgium', 'Switzerland'),
 ('Republic of the Congo', 'Spain'),
 ('Northern Ireland', 'Scotland'),
 ('Ireland', 'Jamaica'),
 ('England', 'Japan'),
 ('Colombia', 'Uruguay'),
 ('England', 'Slovakia'),
 ('Belgium', 'Mali'),
 ('Netherlands', 'Uruguay'),
 ('Belgium', 'Cameroon'),
 ('Belgium', 'Denmark'),
 ('Brazil', 'Peru'),
 ('Denmark', 'Norway'),
 ('Senegal', 'Turkey'),
 ('Albania', 'Brazil'),
 ('France', 'Luxembourg'),
 ('Ghana', 'Serbia'),
 ('Germany', 'Israel'),
 ('Argentina', 'Turkey'),
 ('Croatia', 'Poland'),
 ('Argentina', 'Slovakia'),
 ('Italy', 'Sierra Leone'),
 ('England', 'Tunisia'),
 ('Algeria', 'Cameroon'),
 ('England', 'South Africa'),
 ('Bosnia and Herzegovina', 'Croatia'),
 ('Czech Republic', 'Switzerland'),
 ('Gambia', 'Germany'),
 ('Senegal', 'Uruguay'),
 ('Morocco', 'Serbia'),
 ('Argentina', 'Venezuela'),
 ('Romania', 'Romania'),
 ('Austria', 'Croatia'),
 ('Croatia', 'Uruguay'),
 ('Italy', 'Ukraine'),
 ('Ecuador', 'England'),
 ('Mauritania', 'Spain'),
 ('Germany', 'Mali'),
 ('France', 'Peru'),
 ('Brazil', 'Mexico'),
 ('Brazil', 'Guinea'),
 ('Belgium', 'Morocco'),
 ('England', 'Sierra Leone'),
 ('Canada', 'Germany'),
 ('France', 'Israel'),
 ('Algeria', 'Morocco'),
 ('Senegal', 'Switzerland'),
 ('Denmark', 'Poland'),
 ('Denmark', 'Switzerland'),
 ('Croatia', 'Denmark'),
 ('Ireland', 'Senegal'),
 ('Benin', 'England'),
 ('Angola', 'Germany'),
 ('Ireland', 'Nigeria'),
 ('France', 'Mexico'),
 ('Austria', 'United States'),
 ('Croatia', 'Senegal'),
 ('England', 'Zimbabwe'),
 ('Poland', 'Portugal'),
 ('Germany', 'Scotland'),
 ('Germany', 'Philippines'),
 ('Wales', 'Wales'),
 ('France', 'Hungary'),
 ('Denmark', 'Senegal'),
 ('Georgia', 'Italy'),
 ('Italy', 'Mexico'),
 ('Mexico', 'Portugal'),
 ('Greece', 'Netherlands'),
 ('Brazil', 'Slovakia'),
 ('Germany', 'Togo'),
 ('Angola', 'Spain'),
 ('France', 'Slovakia'),
 ('Costa Rica', 'Italy'),
 ('Ireland', 'United States'),
 ('Argentina', 'Czech Republic'),
 ('Argentina', 'Bosnia and Herzegovina'),
 ('France', 'Paraguay'),
 ('Belgium', 'Uruguay'),
 ('Italy', 'Martinique'),
 ('Gambia', 'Spain'),
 ('Morocco', 'Uruguay'),
 ('Argentina', 'Ireland'),
 ('Germany', 'Uruguay'),
 ('Brazil', 'Norway'),
 ('Czech Republic', 'Netherlands'),
 ('Japan', 'Netherlands'),
 ('Democratic Republic of the Congo', 'Mali'),
 ('Croatia', 'Ghana'),
 ('Belgium', 'Ghana'),
 ('Brazil', 'Tunisia'),
 ('Croatia', 'Czech Republic'),
 ('England', 'Paraguay'),
 ('Croatia', 'Greece'),
 ('Serbia', 'Sweden'),
 ('Guinea-Bissau', 'Italy'),
 ('Colombia', 'Colombia'),
 ('Senegal', 'Tunisia'),
 ('Albania', 'Argentina'),
 ('Bulgaria', 'Germany'),
 ('Switzerland', 'Turkey'),
 ('Belgium', 'Sweden'),
 ('Guinea', 'Senegal'),
 ('Denmark', 'Serbia'),
 ('Austria', 'Czech Republic'),
 ('Democratic Republic of the Congo', 'Ivory Coast'),
 ('Belgium', 'Poland'),
 ('Argentina', 'Democratic Republic of the Congo'),
 ('Denmark', 'Nigeria'),
 ('Ghana', 'Switzerland'),
 ('Ghana', 'Nigeria'),
 ('Poland', 'Senegal'),
 ('Ireland', 'Portugal'),
 ('France', 'Kosovo'),
 ('Colombia', 'Serbia'),
 ('Ghana', 'Ivory Coast'),
 ('Dominican Republic', 'Spain'),
 ('Iran', 'Spain'),
 ('Denmark', 'Portugal'),
 ('England', 'Mexico'),
 ('Honduras', 'Spain'),
 ('Germany', 'Ireland'),
 ('Chile', 'Portugal'),
 ('Serbia', 'Turkey'),
 ('France', 'Laos'),
 ('Ivory Coast', 'Ivory Coast'),
 ('Democratic Republic of the Congo', 'Portugal'),
 ('Ivory Coast', 'Nigeria'),
 ('Denmark', 'Ghana'),
 ('Austria', 'Greece'),
 ('Nigeria', 'Sweden'),
 ('Brazil', 'Venezuela'),
 ('Bulgaria', 'England'),
 ('Germany', 'Venezuela'),
 ('Morocco', 'Nigeria'),
 ('Belgium', 'United States'),
 ('Cameroon', 'Democratic Republic of the Congo'),
 ('Switzerland', 'United States'),
 ('Hungary', 'Spain'),
 ('Mali', 'Mali'),
 ('Nigeria', 'Scotland'),
 ('Chile', 'Uruguay'),
 ('Norway', 'Scotland'),
 ('Denmark', 'Turkey'),
 ('France', 'Iceland'),
 ('Poland', 'Switzerland'),
 ('Portugal', 'Wales'),
 ('Honduras', 'Italy'),
 ('Portugal', 'Sweden'),
 ('Croatia', 'Turkey'),
 ('Nigeria', 'Serbia'),
 ('Argentina', 'Scotland'),
 ('England', 'Republic of the Congo'),
 ('Belgium', 'Ireland'),
 ('Cameroon', 'Turkey'),
 ('Austria', 'Turkey'),
 ('France', 'New Caledonia'),
 ('Norway', 'Sweden'),
 ('Morocco', 'Turkey'),
 ('Australia', 'France'),
 ('Argentina', 'Austria'),
 ('Argentina', 'Peru'),
 ('Spain', 'Togo'),
 ('Ghana', 'Uruguay'),
 ('Croatia', 'Nigeria'),
 ('Guinea', 'Mali'),
 ('Bosnia and Herzegovina', 'Switzerland'),
 ('Brazil', 'Wales'),
 ('Portugal', 'Venezuela'),
 ('Germany', 'Wales'),
 ('Brazil', 'Ukraine'),
 ('Algeria', 'Belgium'),
 ('Croatia', 'Slovenia'),
 ('Argentina', 'Japan'),
 ('Mali', 'Netherlands'),
 ('Ivory Coast', 'Tunisia'),
 ('Argentina', 'United States'),
 ('Greece', 'Serbia'),
 ('Spain', 'Tunisia'),
 ('Scotland', 'United States'),
 ('England', 'Honduras'),
 ('Ghana', 'Mali'),
 ('Mali', 'Serbia'),
 ('Sweden', 'Switzerland'),
 ('England', 'Gabon'),
 ('Belgium', 'Colombia'),
 ('Costa Rica', 'France'),
 ('France', 'Niger'),
 ('Cameroon', 'Serbia'),
 ('England', 'Slovenia'),
 ('Denmark', 'United States'),
 ('Italy', 'Wales'),
 ('Colombia', 'Senegal'),
 ('Belgium', 'Greece'),
 ('Brazil', 'Scotland'),
 ('Belarus', 'Italy'),
 ('Portugal', 'United States'),
 ('Malaysia', 'Spain'),
 ('Denmark', 'Morocco'),
 ('Cameroon', 'Switzerland'),
 ('Nigeria', 'Turkey'),
 ('Denmark', 'Uruguay'),
 ('Austria', 'Belgium'),
 ('Germany', 'Montenegro'),
 ('Brazil', 'Montenegro'),
 ('Algeria', 'Ghana'),
 ('England', 'Venezuela'),
 ('France', 'Zambia'),
 ('Finland', 'France'),
 ('Guinea', 'Morocco'),
 ('Mali', 'Tunisia'),
 ('Nigeria', 'Uruguay'),
 ('Austria', 'Serbia'),
 ('Australia', 'Netherlands'),
 ('Ireland', 'Norway'),
 ('Colombia', 'Croatia'),
 ('Senegal', 'Sweden'),
 ('Denmark', 'Ivory Coast'),
 ('Belgium', 'Scotland'),
 ('Portugal', 'Romania'),
 ('Croatia', 'Ivory Coast'),
 ('Italy', 'Moldova'),
 ('Azerbaijan', 'Spain'),
 ('Portugal', 'Scotland'),
 ('Cameroon', 'Ghana'),
 ('Belgium', 'Turkey'),
 ('Jamaica', 'Scotland'),
 ('Albania', 'Switzerland'),
 ('Chile', 'Croatia'),
 ('France', 'Ukraine'),
 ('Argentina', 'Montenegro'),
 ('Italy', 'Lithuania'),
 ('Burkina Faso', 'Spain'),
 ('Colombia', 'Ghana'),
 ('Denmark', 'Ireland'),
 ('Central African Republic', 'Spain'),
 ('Austria', 'Ghana'),
 ('Ecuador', 'Italy'),
 ('Austria', 'Nigeria'),
 ('Greece', 'Switzerland'),
 ('United States', 'United States'),
 ('Cameroon', 'Nigeria'),
 ('Nigeria', 'Wales'),
 ('Algeria', 'Serbia'),
 ('Morocco', 'Morocco'),
 ('Ivory Coast', 'Uruguay'),
 ('Gabon', 'Spain'),
 ('Austria', 'Poland'),
 ('Italy', 'Libya'),
 ('Montenegro', 'Serbia'),
 ('Egypt', 'Germany'),
 ('Jamaica', 'Wales'),
 ('England', 'Trinidad and Tobago'),
 ('Germany', 'Iran'),
 ('Croatia', 'Sweden'),
 ('Ghana', 'Sweden'),
 ('Austria', 'Portugal'),
 ('Austria', 'Japan'),
 ('Ghana', 'Morocco'),
 ('Republic of the Congo', 'Senegal'),
 ('Belgium', 'Wales'),
 ('Guinea', 'Ivory Coast'),
 ('Bosnia and Herzegovina', 'Netherlands'),
 ('Chile', 'Chile'),
 ('Serbia', 'Slovenia'),
 ('Nigeria', 'Switzerland'),
 ('Scotland', 'Senegal'),
 ('Greece', 'Sweden'),
 ('Greece', 'Senegal'),
 ('Croatia', 'Morocco'),
 ('Mexico', 'Netherlands'),
 ('Greece', 'Morocco'),
 ('Guadeloupe', 'Italy'),
 ('Chad', 'France'),
 ('Brazil', 'Ireland'),
 ('Mali', 'Republic of the Congo'),
 ('Austria', 'Sweden'),
 ('Croatia', 'Romania'),
 ('Cameroon', 'Guinea'),
 ('Iceland', 'Netherlands'),
 ('Iceland', 'Spain'),
 ('Ireland', 'Italy'),
 ('Scotland', 'Sweden'),
 ('Algeria', 'Guinea'),
 ('Colombia', 'Nigeria'),
 ('Algeria', 'Tunisia'),
 ('Sweden', 'Uruguay'),
 ('Nigeria', 'Norway'),
 ('Algeria', 'Netherlands'),
 ('Burkina Faso', 'Germany'),
 ('Bosnia and Herzegovina', 'Serbia'),
 ('Ireland', 'Ivory Coast'),
 ('France', 'Zimbabwe'),
 ('Angola', 'France'),
 ('Greece', 'Uruguay'),
 ('Argentina', 'Wales'),
 ('France', 'Russia'),
 ('Switzerland', 'Uruguay'),
 ('Angola', 'Italy'),
 ('Colombia', 'Morocco'),
 ('Germany', 'Mexico'),
 ('France', 'Gambia'),
 ('Cameroon', 'Croatia'),
 ('Ghana', 'Poland'),
 ('Romania', 'Serbia'),
 ('Ivory Coast', 'Sweden'),
 ('England', 'Guinea'),
 ('England', 'Togo'),
 ('Poland', 'Sweden'),
 ('France', 'Jamaica'),
 ('Ghana', 'Turkey'),
 ('Northern Ireland', 'Wales'),
 ('Guinea-Bissau', 'Spain'),
 ('Ghana', 'Greece'),
 ('Cape Verde', 'Italy'),
 ('Netherlands', 'Romania'),
 ('Italy', 'Liechtenstein'),
 ('Czech Republic', 'Denmark'),
 ('Mali', 'Nigeria'),
 ('Italy', 'Kenya'),
 ('France', 'Mauritius'),
 ('Norway', 'Senegal'),
 ('Japan', 'Switzerland'),
 ('Ivory Coast', 'Turkey'),
 ('Switzerland', 'Tunisia'),
 ('Algeria', 'Switzerland'),
 ('Belgium', 'Norway'),
 ('Turkey', 'United States'),
 ('Barbados', 'England'),
 ('Democratic Republic of the Congo', 'Morocco'),
 ('Albania', 'Croatia'),
 ('Belgium', 'Japan'),
 ('Germany', 'Kazakhstan'),
 ('Morocco', 'Switzerland'),
 ('Austria', 'Norway'),
 ('Ghana', 'Ireland'),
 ('Finland', 'Netherlands'),
 ('Bosnia and Herzegovina', 'Senegal'),
 ('Colombia', 'Ivory Coast'),
 ('Brazil', 'Burkina Faso'),
 ('Czech Republic', 'Serbia'),
 ('Denmark', 'Wales'),
 ('Ivory Coast', 'Romania'),

In [21]:
xxx = pd.DataFrame(countryEdges['nationcomb'].tolist(), columns=['Nation1', 'Nation2'])
xxx

                     Nation1              Nation2
0                      Spain                Spain
1                      Italy                Italy
2                     France               France
3                    Germany              Germany
4                    England              England
...                      ...                  ...
6360  Bosnia and Herzegovina  Trinidad and Tobago
6361                 Armenia           Luxembourg
6362                 Armenia           Madagascar
6363                 Denmark            Gibraltar
6364              Guadeloupe           Guadeloupe

[6365 rows x 2 columns]

In [22]:
finalCountries = pd.concat([xxx,countryEdges], axis=1)

In [23]:
finalCountries.drop('nationcomb', axis=1, inplace=True)

In [24]:
finalCountries.rename(columns={'Name1' : 'count'}, inplace= True)
finalCountries[finalCountries['count'] > 1000]

      Nation1  Nation2  index  count
0       Spain    Spain   6236  43387
1       Italy    Italy   4665  35817
2      France   France   3443  23741
3     Germany  Germany   3766  17397
4     England  England   3170  15893
..        ...      ...    ...    ...
91    Germany    Japan   3786   1035
92    Croatia    Spain   2559   1033
93     France    Ghana   3449   1013
94  Argentina  Uruguay    500   1006
95    Belgium    Italy   1029   1004

[96 rows x 4 columns]

In [25]:
print(finalCountries['count'].sum(), finalCountries[5:]['count'].sum())
nonLeagueCountries = finalCountries[5:]

560416 424181

In [34]:
majCountries = nonLeagueCountries[nonLeagueCountries['count'] > 500]
majCountries

       Nation1      Nation2  index  count  proportion
5    Argentina        Spain    486   7372    1.737937
6       Brazil        Italy   1391   6332    1.492759
7    Argentina        Italy    432   5874    1.384786
8       Brazil        Spain   1449   4860    1.145737
9       France      Senegal   3515   4628    1.091044
..         ...          ...    ...    ...         ...
164     Brazil     Colombia   1353    510    0.120232
165      Italy     Paraguay   4696    507    0.119524
166     Brazil  Switzerland   1452    505    0.119053
167     Serbia       Serbia   6119    502    0.118346
168  Argentina     Colombia    393    502    0.118346

[164 rows x 5 columns]

In [35]:
nonLeagueCountries['proportion'] = nonLeagueCountries['count'] / nonLeagueCountries['count'].sum() * 100
nonLeagueCountries

majCountries['proportion'] = majCountries['count'] / majCountries['count'].sum() * 100
majCountries

C:\Users\User\AppData\Local\Temp\ipykernel_18276\3688835620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonLeagueCountries['proportion'] = nonLeagueCountries['count'] / nonLeagueCountries['count'].sum() * 100
C:\Users\User\AppData\Local\Temp\ipykernel_18276\3688835620.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  majCountries['proportion'] = majCountries['count'] / majCountries['count'].sum() * 100

       Nation1      Nation2  index  count  proportion
5    Argentina        Spain    486   7372    3.082778
6       Brazil        Italy   1391   6332    2.647877
7    Argentina        Italy    432   5874    2.456353
8       Brazil        Spain   1449   4860    2.032325
9       France      Senegal   3515   4628    1.935309
..         ...          ...    ...    ...         ...
164     Brazil     Colombia   1353    510    0.213269
165      Italy     Paraguay   4696    507    0.212014
166     Brazil  Switzerland   1452    505    0.211178
167     Serbia       Serbia   6119    502    0.209923
168  Argentina     Colombia    393    502    0.209923

[164 rows x 5 columns]

In [39]:
combCentralityMeasuresPre2015 = pd.read_csv('centralityValuesPre2015.csv')
combCentralityMeasuresPre2015 = combCentralityMeasuresPre2015.drop(columns={'Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y'})
combCentralityMeasuresPre2015

            ID  ClosenessCentrality  BetwenessCentrality
0     00459419             0.405920             0.000734
1     001a63e0             0.365310             0.000072
2     008a6e6d             0.374010             0.000204
3     00844823             0.380621             0.000659
4     00b0bb87             0.389828             0.000289
...        ...                  ...                  ...
7381  ffd4896e             0.378586             0.000503
7382  ffd69308             0.366674             0.000183
7383  ffec9769             0.348524             0.000009
7384  ffed43e3             0.331399             0.000003
7385  fff10a46             0.402460             0.000654

[7386 rows x 3 columns]

In [38]:
combCentralityMeasures = pd.read_csv('centralityValues.csv')
combCentralityMeasures = combCentralityMeasures.drop(columns={'Unnamed: 0.1', 'Unnamed: 0'})
combCentralityMeasures

            ID  ClosenessCentrality  BetwenessCentrality
0     00242b75             0.368475             0.000012
1     00242715             0.413233             0.000365
2     00459419             0.446485             0.000926
3     001a63e0             0.386599             0.000064
4     005c0807             0.371481             0.000062
...        ...                  ...                  ...
9695  ffd69308             0.401266             0.000144
9696  ffec9769             0.455866             0.000863
9697  ffed43e3             0.411149             0.000283
9698  fff10a46             0.415304             0.000205
9699  fffea3e5             0.396055             0.000087

[9700 rows x 3 columns]

In [53]:
centralityDf = combCentralityMeasures.merge(combCentralityMeasuresPre2015, left_on="ID", right_on="ID", how='left')

centralityDf[centralityDf["BetwenessCentrality_x"] < centralityDf["BetwenessCentrality_y"]]

,ID,ClosenessCentrality_x,BetwenessCentrality_x,ClosenessCentrality_y,BetwenessCentrality_y
3,001a63e0,0.386599,0.000064,0.365310,0.000072
10,00844823,0.433301,0.000463,0.380621,0.000659
11,00b0bb87,0.419634,0.000247,0.389828,0.000289
16,0136606c,0.438770,0.000623,0.402174,0.000968
18,00454f25,0.380338,0.000079,0.361278,0.000115
...,...,...,...,...,...
9692,ffc3c7ba,0.365821,0.000009,0.354462,0.000038
9693,ffcbeb74,0.423112,0.000153,0.403165,0.000479
9694,ffd4896e,0.392354,0.000144,0.378586,0.000503
9695,ffd69308,0.401266,0.000144,0.366674,0.000183
9698,fff10a46,0.415304,0.000205,0.402460,0.000654

In [47]:
centralityDf[centralityDf["ID"] == "00242b75"]

,ID,ClosenessCentrality_x,BetwenessCentrality_x,ClosenessCentrality_y,BetwenessCentrality_y
0,00242b75,0.368475,0.000012,NaN,NaN

In [62]:
import psutil 
import gc
print(psutil.virtual_memory().available * 100 / psutil.virtual_memory().total)

gc.collect()
print(psutil.virtual_memory().available * 100 / psutil.virtual_memory().total)

29.61901331712849
29.56203261409469

In [60]:
jackDf = pd.read_csv('jackValues.csv')

In [61]:
jackDf['Name1'] = jackDf['ID1'].map(nameDict)
jackDf["Name2"] = jackDf['ID2'].map(nameDict)

In [67]:
jackDf[jackDf['JacardValue'] > 0.5]

,Unnamed: 0,ID1,ID2,JacardValue,Name1,Name2
0,0,261d5529,cfa30154,0.648649,Mamadou-NDiaye,Dylan-Gissi
1,1,cfa30154,91f2da4c,0.648649,Dylan-Gissi,Casimir-Ninga
2,2,bdedffac,50cfe1f7,0.645161,Orjan-Nyland,Julian-Gunther-Schmidt
3,3,2a657da0,47347124,0.638889,Mathieu-Cafaro,Sami-Larabi
4,4,4e7db402,47347124,0.638889,Alban-Lafont,Sami-Larabi
5,5,a712ca2b,47347124,0.638889,Issa-Diop,Sami-Larabi
6,6,bcc81786,47347124,0.638889,Kelvin-Amian,Sami-Larabi
7,7,47347124,31377e38,0.638889,Sami-Larabi,Zinedine-Machach
8,8,88050721,1d5f96d9,0.636364,Unai-Lopez,Sabin-Merino
9,9,8eb55dbb,ffa90327,0.636364,Sheraldo-Becker,Anwar-El-Ghazi
10,10,0059d82e,1c15d583,0.600000,Remi-Elissalde,Abdoulaye-Keita
11,11,ca6f10e6,a3d524cb,0.590909,Fakhreddine-Ben-Youssef,Thomas-Didillon
12,12,a3d524cb,c997824a,0.577778,Thomas-Didillon,Federico-Andrada
13,13,ee923664,6a3a6617,0.575758,Kevin-Vazquez,Nestor-Diaz
14,14,ee923664,8fc259d7,0.575758,Kevin-Vazquez,Josep-Sene
15,15,cfa30154,378825c7,0.571429,Dylan-Gissi,Ramy-Bensebaini
16,16,8f63e400,626fab5f,0.571429,Tim-Rieder,Raphael-Framberger
17,17,5dc15574,af731e9a,0.567568,Milos-Pantovic,Sinan-Kurt
18,18,ee923664,e9457fb9,0.558824,Kevin-Vazquez,Dejan-Drazic
19,19,1d1691ad,c9ee1793,0.558824,Alvaro-Odriozola,Iker-Hernandez
20,20,debc6b55,c9ee1793,0.558824,Jon-Bautista,Iker-Hernandez
21,21,8c3c640c,c9ee1793,0.558824,Mikel-Oyarzabal,Iker-Hernandez
22,22,5c7845f6,c9ee1793,0.558824,Igor-Zubeldia,Iker-Hernandez
23,23,ee923664,56a787a6,0.545455,Kevin-Vazquez,David-Goldar
24,24,074b9902,5dc15574,0.538462,Rico-Strieder,Milos-Pantovic
25,25,decc912b,1c15d583,0.533333,Evan-Chevalier,Abdoulaye-Keita
26,26,48b28bfd,9cdef765,0.526316,Jean-Eudes-Aholou,John-Jairo-Ruiz
27,27,e3a5814e,6ca5ec4b,0.523810,Ainsley-Maitland-Niles,Alex-Iwobi
28,28,741f3653,01460670,0.516129,Fabrice-Apruzesse,Chris-Gadi
29,29,aad53e64,1a6f612d,0.514286,Kike-Barja,Tano-Bonnin
30,30,0f7dbaf6,1a6f612d,0.514286,Jokin-Ezkieta,Tano-Bonnin
31,31,2945f4b7,a10361d2,0.514286,Thierry-Ambrose,Aleix-Garcia
32,32,2945f4b7,3043d33f,0.514286,Thierry-Ambrose,Bersant-Celina
33,33,2945f4b7,c92e1a31,0.514286,Thierry-Ambrose,Kelechi-Iheanacho
34,34,2945f4b7,6ed1a2a2,0.514286,Thierry-Ambrose,Manu-Garcia
35,35,663e080e,4c6facae,0.513514,Janis-Blaswich,Djibril-Sow
36,36,663e080e,ce2c51c0,0.513514,Janis-Blaswich,Marlon-Ritter
37,37,88050721,aec0fb6f,0.511628,Unai-Lopez,Javier-Eraso
38,38,df819670,bf0a6602,0.511628,Aly-Ndom,Sacha-Bastien
39,39,6bdc60a2,bf0a6602,0.511628,Edwin-Maanane,Sacha-Bastien
40,40,3e06c057,24cedcb1,0.511111,Julien-Begue,Karim-Achahbar

In [229]:
clusts = [0.018717055071793828,0.01870976437309407,0.01871366114460522,0.01866210888849885,0.018671333780212428,0.018720570527614222,0.01873969908246729,0.018630764235729652,0.018723047746684686,0.018724906485547057,0.018703977757893665,0.018745684768879674,0.018772774044422878,0.018691764884928432,0.018707045247173384,0.01868454580845882,0.01867770745876327,0.018720970763100912,0.018695535374135215,0.018699382086907884,0.018684187302375435,0.018701034882681843,0.018661264362359847,0.018810305816169697,0.018717899675860437,0.0187616447590681,0.0187436861935099,0.018684629403425867,0.01867707047942808,0.01867009273695864,0.018661812392998318, 0.018723311794711647, 0.018719277203204664, 0.01873146730422344, 0.01872022352848735, 0.018766780547173036, 0.018695375092632308,0.018704468546457586, 0.018784567226400373, 0.018680578137616685,0.01868205011187967,0.018737374653722803,0.01865892993750665,0.018713916231819585,0.018645618809659068,0.018687721691226074,0.018666794124210323,0.018708463997240736,0.018718340435605066,0.018693668839026182,0.01864144701738256,0.01874844938633155,0.018724613798677184,0.01874819474447383,0.018746352421987977,0.01874543554722944,0.018626227197837082,0.018771546099532414,0.01871740391244935,0.018744424546062753,0.018698203639037896,0.018600669977031088,0.018718113251098362,0.018710168480936613,0.01871219277642462,0.018693801861742125,0.018692570870082876,0.018671787665542384,0.018716687066733108,0.018723571517437816,0.018738033003514086,0.018702135166143934,0.01867189357725414,0.018742984562144595,0.018713035063189346,0.018716095270181404,
0.018727120700778553,0.018741018010802787,0.018624213934890343,0.01873118392689881,0.018714397341649036, 0.018702601796420262,0.018734280087302258,
0.018721423750497047,0.018686090820687413,0.018703299774661765,0.018692676878477994,0.018711071680934575,0.018701311147408525,0.01868983270951686,
0.018684664824677778,0.01870077713244958,0.01870550863149023,0.018715470299068365,0.01869017103199408,0.018713818696669618,0.0187273504451091,
0.018699052438333853,0.018645600758195137, 0.018732604292982614]

In [230]:
print(np.mean(clusts))
print(np.std(clusts))

0.01870656435280906
3.468732317156804e-05

In [106]:
dfHist = pd.read_csv("PlayersCombFixed.csv")
dfHist

C:\Users\User\AppData\Local\Temp\ipykernel_15276\2337718932.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  dfHist = pd.read_csv("PlayersCombFixed.csv")

,Unnamed: 0,Season,Squad,Comp,Country,Name,ID,LgRank,MP,Gls,CountryFixed,DOB
0,0,2010-2011,Levante,1. La Liga,es ESP,Sergio-Abad-Beyxer,30f729b3,14th,1,0.0,Spain,1989
1,1,2005-2006,Piacenza,2. Serie B,it ITA,Ignazio-Abate,1c529186,12th,13,0.0,Italy,1986
2,2,2006-2007,Modena,2. Serie B,it ITA,Ignazio-Abate,1c529186,16th,38,1.0,Italy,1986
3,3,2007-2008,Empoli,1. Serie A,it ITA,Ignazio-Abate,1c529186,18th,24,1.0,Italy,1986
4,4,2008-2009,Torino,1. Serie A,it ITA,Ignazio-Abate,1c529186,18th,25,1.0,Italy,1986
...,...,...,...,...,...,...,...,...,...,...,...,...
104551,104551,2019-2020,Zwolle,1. Eredivisie,nl NED,Michael-Zetterer,9b688ae1,15th,13,0.0,Germany,1995
104552,104552,2020-2021,Zwolle,1. Eredivisie,nl NED,Michael-Zetterer,9b688ae1,13th,19,0.0,Germany,1995
104553,104553,2020-2021,Werder Bremen,1. Bundesliga,de GER,Michael-Zetterer,9b688ae1,17th,0,NaN,Germany,1995
104554,104554,2021-2022,Werder Bremen,2. 2. Bundesliga,de GER,Michael-Zetterer,9b688ae1,2nd,11,0.0,Germany,1995
104555,104555,2022-2023,Werder Bremen,1. Bundesliga,de GER,Michael-Zetterer,9b688ae1,5th,1,0.0,Germany,1995

In [119]:
testing = dfHist[["Comp", "Country", "CountryFixed","Name"]]
testing = testing.groupby('Comp').agg({"CountryFixed" : 'count',
                                        "Name" : 'nunique',
                                        'Country' : 'first'
                                        }).reset_index()
testing = testing.sort_values('Name', ascending=False)
testing = testing.rename(columns = {'CountryFixed' : "Count_Player_Seasons", 'Name' : 'UniquePlayers'})
testing.reset_index()
#percentage of players passing through this league
testing['proportionPlayers'] = testing['UniquePlayers'] / nodes['Name'].count() * 100
testing[0:15]

,Comp,Count_Player_Seasons,UniquePlayers,Country,proportionPlayers
30,1. Premier League,11747,2708,eng ENG,27.917526
26,1. Ligue 1,9881,2664,fr FRA,27.463918
37,1. Serie A,10869,2517,it ITA,25.948454
20,1. La Liga,9883,2508,es ESP,25.855670
5,1. Bundesliga,8972,2125,de GER,21.907216
50,2. Championship,5889,1550,eng ENG,15.979381
58,2. Segunda División,5124,1485,es ESP,15.309278
55,2. Ligue 2,3996,1359,fr FRA,14.010309
59,2. Serie B,5428,1357,it ITA,13.989691
49,2. 2. Bundesliga,3575,1131,de GER,11.659794
38,1. Super League,1604,731,gr GRE,7.536082
44,1. Süper Lig,1837,714,tr TUR,7.360825
65,3. League One,1749,682,eng ENG,7.030928
32,1. Primeira Liga,1922,616,pt POR,6.350515
11,1. Eredivisie,2097,608,nl NED,6.268041

In [117]:
testing[testing['Country'] == "eng ENG" ][]

,Comp,Count_Player_Seasons,UniquePlayers,Country,proportionPlayers
30,1. Premier League,11747,2708,eng ENG,27.917526
50,2. Championship,5889,1550,eng ENG,15.979381
65,3. League One,1749,682,eng ENG,7.030928
75,Jr. PL2 — Div. 1,829,469,eng ENG,4.835052
76,Jr. PL2 — Div. 2,567,371,eng ENG,3.824742
70,4. League Two,754,369,eng ENG,3.804124
52,2. First Division,213,115,eng ENG,1.185567
74,5. National League,121,75,eng ENG,0.773196
73,5. Conf Premier,91,66,eng ENG,0.680412
66,3. Second Division,60,47,eng ENG,0.484536
71,4. Third Division,47,37,eng ENG,0.381443
72,5. Conf National,14,13,eng ENG,0.134021

In [194]:
jackDf = pd.read_csv('jackValues.csv')

In [195]:
jackDf['Name1'] = jackDf['ID1'].map(nameDict)
jackDf["Name2"] = jackDf['ID2'].map(nameDict)

In [201]:
df1

,Name1,Name2,Season,Squad,League,LeagueRank,LeagueCountry,Nation1,Nation2,Born1,...,Goals2,Node1,Node2,Age1,Age2,SeasonNum,CountryNum1,CountryNum2,LeagueNum,SquadNum
0,Sergio-Abad-Beyxer,Sergio-Ballesteros,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,1.0,30f729b3,29863c56,21.0,35.0,0.0,65.0,65.0,0.0,0.0
1,Sergio-Abad-Beyxer,David-Cerrajeria,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,0.0,30f729b3,2ebb9df6,21.0,27.0,0.0,65.0,65.0,0.0,0.0
2,Sergio-Abad-Beyxer,Rafa-Jorda,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,2.0,30f729b3,05e805eb,21.0,26.0,0.0,65.0,65.0,0.0,0.0
3,Sergio-Abad-Beyxer,Gorka-Larrea,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,0.0,30f729b3,242e09b6,21.0,26.0,0.0,65.0,65.0,0.0,0.0
4,Sergio-Abad-Beyxer,Cristhian-Stuani,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Uruguay,1989,...,8.0,30f729b3,220c11f1,21.0,24.0,0.0,65.0,45.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901966,Michael-Zetterer,Ilia-Gruev,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Bulgaria,1995,...,0.0,9b688ae1,1fc4f3d1,27.0,22.0,28.0,82.0,101.0,4.0,145.0
901967,Michael-Zetterer,Amos-Pieper,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Germany,1995,...,0.0,9b688ae1,526ea7cc,27.0,24.0,28.0,82.0,82.0,4.0,145.0
901968,Michael-Zetterer,Romano-Schmid,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Austria,1995,...,0.0,9b688ae1,220ace7e,27.0,22.0,28.0,82.0,31.0,4.0,145.0
901969,Michael-Zetterer,Lee-Buchanan,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,England,1995,...,1.0,9b688ae1,45e95f21,27.0,21.0,28.0,82.0,93.0,4.0,145.0
901970,Michael-Zetterer,Jens-Stage,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Denmark,1995,...,0.0,9b688ae1,1fffae99,27.0,26.0,28.0,82.0,4.0,4.0,145.0

In [203]:
edgesCopy = df1

In [204]:
edgesCopy.groupby('Season').agg({
    'Name1' : 'count'
})

edgesCopy['SingleYear'] = df1['Season'].map(lambda x : str(x)[:4])
edgesCopy['SingleYear'] = df1['SingleYear'].astype(int)

edgesCopy

,Name1,Name2,Season,Squad,League,LeagueRank,LeagueCountry,Nation1,Nation2,Born1,...,Node1,Node2,Age1,Age2,SeasonNum,CountryNum1,CountryNum2,LeagueNum,SquadNum,SingleYear
0,Sergio-Abad-Beyxer,Sergio-Ballesteros,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,30f729b3,29863c56,21.0,35.0,0.0,65.0,65.0,0.0,0.0,2010
1,Sergio-Abad-Beyxer,David-Cerrajeria,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,30f729b3,2ebb9df6,21.0,27.0,0.0,65.0,65.0,0.0,0.0,2010
2,Sergio-Abad-Beyxer,Rafa-Jorda,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,30f729b3,05e805eb,21.0,26.0,0.0,65.0,65.0,0.0,0.0,2010
3,Sergio-Abad-Beyxer,Gorka-Larrea,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Spain,1989,...,30f729b3,242e09b6,21.0,26.0,0.0,65.0,65.0,0.0,0.0,2010
4,Sergio-Abad-Beyxer,Cristhian-Stuani,2010-2011,Levante,1. La Liga,14,es ESP,Spain,Uruguay,1989,...,30f729b3,220c11f1,21.0,24.0,0.0,65.0,45.0,0.0,0.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901966,Michael-Zetterer,Ilia-Gruev,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Bulgaria,1995,...,9b688ae1,1fc4f3d1,27.0,22.0,28.0,82.0,101.0,4.0,145.0,2022
901967,Michael-Zetterer,Amos-Pieper,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Germany,1995,...,9b688ae1,526ea7cc,27.0,24.0,28.0,82.0,82.0,4.0,145.0,2022
901968,Michael-Zetterer,Romano-Schmid,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Austria,1995,...,9b688ae1,220ace7e,27.0,22.0,28.0,82.0,31.0,4.0,145.0,2022
901969,Michael-Zetterer,Lee-Buchanan,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,England,1995,...,9b688ae1,45e95f21,27.0,21.0,28.0,82.0,93.0,4.0,145.0,2022
901970,Michael-Zetterer,Jens-Stage,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Denmark,1995,...,9b688ae1,1fffae99,27.0,26.0,28.0,82.0,4.0,4.0,145.0,2022

In [216]:
pre2015Edges = edgesCopy[edgesCopy['SingleYear'] <= 2015]
post2015Edges = edgesCopy[edgesCopy['SingleYear'] > 2015]
pre2015Edges = pre2015Edges.groupby(['Node1', 'Node2']).agg({
                                                'Season':lambda x: list(x),
                                                'Name1': 'first',
                                                'Name2': 'first',
                                                'Squad': lambda x: list(x),
                                                'League': lambda x: list(x),
                                                'LeagueRank' : lambda x: list(x),
                                                'Nation1': 'first',
                                                'Nation2': 'first',
                                                'Born1' : 'first',
                                                'Born2' : 'first',
                                                'MP1' : 'sum',
                                                'MP2': 'sum',
                                                'Goals1' : 'sum',
                                                'Goals2' : 'sum'

                                                }).reset_index()

post2015Edges = post2015Edges.groupby(['Node1', 'Node2']).agg({
                                                'Season':lambda x: list(x),
                                                'Name1': 'first',
                                                'Name2': 'first',
                                                'Squad': lambda x: list(x),
                                                'League': lambda x: list(x),
                                                'LeagueRank' : lambda x: list(x),
                                                'Nation1': 'first',
                                                'Nation2': 'first',
                                                'Born1' : 'first',
                                                'Born2' : 'first',
                                                'MP1' : 'sum',
                                                'MP2': 'sum',
                                                'Goals1' : 'sum',
                                                'Goals2' : 'sum'

                                                }).reset_index()


pre2015Edges.rename(columns={'Node1' : "source", 'Node2' : 'target'}, inplace=True)
post2015Edges.rename(columns={'Node1' : "source", 'Node2' : 'target'}, inplace=True)


G2015 = nx.from_pandas_edgelist(pre2015Edges, edge_attr=['Season', 'Name1', 'Name2'])
GPost2015 = nx.from_pandas_edgelist(post2015Edges, edge_attr=['Season', 'Name1', 'Name2'])


# 454042 + 447929 <= 2015 and > 
# 901971  
# edgesCopy

In [ ]:

node_degree_dict=nx.degree(G2015)
G2015Filtered=nx.subgraph(G2015,[x for x in G2015.nodes() if node_degree_dict[x]>19])

In [209]:
jackDf[jackDf['JacardValue'] == 0]

,Unnamed: 0,ID1,ID2,JacardValue,Name1,Name2
7667312,7667312,791abba1,ea26e99f,0.0,Salif-Sane,Levy-Madinda
7667313,7667313,791abba1,2f98644a,0.0,Salif-Sane,Gaetano-Masucci
7667314,7667314,791abba1,2f1736e5,0.0,Salif-Sane,Fadil-Sido
7667315,7667315,791abba1,39ad0b72,0.0,Salif-Sane,Callum-Connolly
7667316,7667316,791abba1,0d0828e8,0.0,Salif-Sane,Moestafa-El-Kabir
...,...,...,...,...,...,...
22676462,22676462,e921b9db,6f51e382,0.0,Jacopo-Dezi,Marc-Andre-ter-Stegen
22676463,22676463,defb905a,683e9dbc,0.0,Martin-Skrtel,Benoit-Cheyrou
22676464,22676464,f6c4946d,c9bdc773,0.0,George-McCartney,Denis-Streker
22676465,22676465,f6c4946d,6f51e382,0.0,George-McCartney,Marc-Andre-ter-Stegen
22676466,22676466,c9bdc773,f5b9b859,0.0,Denis-Streker,Tiberio-Guarente

In [212]:
post2015Edges

,Name1,Name2,Season,Squad,League,LeagueRank,LeagueCountry,Nation1,Nation2,Born1,...,Node1,Node2,Age1,Age2,SeasonNum,CountryNum1,CountryNum2,LeagueNum,SquadNum,SingleYear
43,Ignazio-Abate,Carlos-Bacca,2016-2017,Milan,1. Serie A,6,it ITA,Italy,Colombia,1986,...,1c529186,09a9e921,30.0,30.0,11.0,15.0,20.0,2.0,5.0,2016
44,Ignazio-Abate,Gianluigi-Donnarumma,2016-2017,Milan,1. Serie A,6,it ITA,Italy,Italy,1986,...,1c529186,08f5afaa,30.0,17.0,11.0,15.0,15.0,2.0,5.0,2016
45,Ignazio-Abate,Gianluigi-Donnarumma,2017-2018,Milan,1. Serie A,6,it ITA,Italy,Italy,1986,...,1c529186,08f5afaa,31.0,18.0,12.0,15.0,15.0,2.0,5.0,2017
46,Ignazio-Abate,Franck-Kessie,2017-2018,Milan,1. Serie A,6,it ITA,Italy,Ivory Coast,1986,...,1c529186,05e19d6a,31.0,21.0,12.0,15.0,100.0,2.0,5.0,2017
47,Ignazio-Abate,Emanuele-Torrasi,2017-2018,Milan,1. Serie A,6,it ITA,Italy,Italy,1986,...,1c529186,16bc48f8,31.0,18.0,12.0,15.0,15.0,2.0,5.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901966,Michael-Zetterer,Ilia-Gruev,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Bulgaria,1995,...,9b688ae1,1fc4f3d1,27.0,22.0,28.0,82.0,101.0,4.0,145.0,2022
901967,Michael-Zetterer,Amos-Pieper,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Germany,1995,...,9b688ae1,526ea7cc,27.0,24.0,28.0,82.0,82.0,4.0,145.0,2022
901968,Michael-Zetterer,Romano-Schmid,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Austria,1995,...,9b688ae1,220ace7e,27.0,22.0,28.0,82.0,31.0,4.0,145.0,2022
901969,Michael-Zetterer,Lee-Buchanan,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,England,1995,...,9b688ae1,45e95f21,27.0,21.0,28.0,82.0,93.0,4.0,145.0,2022
901970,Michael-Zetterer,Jens-Stage,2022-2023,Werder Bremen,1. Bundesliga,5,de GER,Germany,Denmark,1995,...,9b688ae1,1fffae99,27.0,26.0,28.0,82.0,4.0,4.0,145.0,2022

In [217]:
jackDf[jackDf['JacardValue'] > 0.25]

,Unnamed: 0,ID1,ID2,JacardValue,Name1,Name2
0,0,261d5529,cfa30154,0.648649,Mamadou-NDiaye,Dylan-Gissi
1,1,cfa30154,91f2da4c,0.648649,Dylan-Gissi,Casimir-Ninga
2,2,bdedffac,50cfe1f7,0.645161,Orjan-Nyland,Julian-Gunther-Schmidt
3,3,2a657da0,47347124,0.638889,Mathieu-Cafaro,Sami-Larabi
4,4,4e7db402,47347124,0.638889,Alban-Lafont,Sami-Larabi
...,...,...,...,...,...,...
1815,1815,f4bc42b1,da5a5a29,0.252174,Sada-Thioub,Mahamane-Traore
1816,1816,91872dec,150a54c2,0.251969,Jonathan-dos-Santos,Joan-Angel-Roman
1817,1817,42f4f848,9f4647e9,0.251969,Declan-Rudd,Robert-Snodgrass
1818,1818,2e64bb49,86b30561,0.251748,Slobodan-Medojevic,Sebastian-Jung
1819,1819,c0c5ee74,9328b835,0.251572,Thierry-Henry,Lukasz-Fabianski

In [230]:
# test = jackDf[jackDf['JacardValue'] > 0.25]
# test


#Run on intervals, first 100 jacards then next 100 to see how strongly our jacard magnitude predicts future edges


#on > 0.1 -> Got 1542 rows in a frame!
i = 0

import warnings
with warnings.catch_warnings():
    warnings.simplefilter('ignore')
    jdf = jackDf[jackDf['JacardValue'] > 0.5]
    jacardPredictedResults = post2015Edges[post2015Edges['source'] == '']
    for (index, row) in jdf.iterrows():
        print(i)
        test = post2015Edges[((post2015Edges['source'] == jdf.at[index, 'ID1']) & (post2015Edges['target'] == jdf.at[index, 'ID2'])) | ((post2015Edges['target'] == jdf.at[index, 'ID1']) & (post2015Edges['source'] == jdf.at[index, 'ID2']))]
        jacardPredictedResults = jacardPredictedResults.append(test)
        # print(len(test.index))
        i+= 1
jacardPredictedResults

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

,source,target,Season,Name1,Name2,Squad,League,LeagueRank,Nation1,Nation2,Born1,Born2,MP1,MP2,Goals1,Goals2
95325,8f63e400,626fab5f,"[2016-2017, 2019-2020]",Tim-Rieder,Raphael-Framberger,"[Augsburg, Augsburg]","[1. Bundesliga, 1. Bundesliga]","[13, 15]",Germany,Germany,1993,1995,5,21,0.0,0.0
234778,e3a5814e,6ca5ec4b,"[2016-2017, 2016-2017, 2017-2018, 2018-2019]",Ainsley-Maitland-Niles,Alex-Iwobi,"[Arsenal, Arsenal, Arsenal, Arsenal]","[1. Premier League, Jr. PL2 — Div. 1, 1. Premi...","[5, 4, 6, 5]",England,Nigeria,1997,1996,45,88,1.0,9.0
134638,aad53e64,1a6f612d,"[2016-2017, 2017-2018]",Kike-Barja,Tano-Bonnin,"[Osasuna, Osasuna]","[1. La Liga, 2. Segunda División]","[19, 8]",Spain,Dominican Republic,1997,1990,20,14,1.0,0.0
120187,a10361d2,2945f4b7,[2016-2017],Aleix-Garcia,Thierry-Ambrose,[Manchester City],[Jr. PL2 — Div. 1],[2],Spain,Guadeloupe,1997,1997,4,8,0.0,5.0
56186,6ed1a2a2,2945f4b7,[2017-2018],Manu-Garcia,Thierry-Ambrose,[NAC Breda],[1. Eredivisie],[14],Spain,Guadeloupe,1998,1997,34,30,1.0,10.0

In [231]:
jacardPredictedResults.describe()

             MP1        MP2    Goals1     Goals2
count   5.000000   5.000000  5.000000   5.000000
mean   21.600000  32.200000  0.600000   4.800000
std    17.952716  32.252132  0.547723   4.764452
min     4.000000   8.000000  0.000000   0.000000
25%     5.000000  14.000000  0.000000   0.000000
50%    20.000000  21.000000  1.000000   5.000000
75%    34.000000  30.000000  1.000000   9.000000
max    45.000000  88.000000  1.000000  10.000000